# Merge all auctions into one

Combines several datasets and do some simple analyses.

### User variables

In [1]:
import drz_config
cfg = drz_config.read_config()
DATE = cfg['DATE']
VERBOSE = cfg['VERBOSE']
OPBOD = cfg['OPBOD']
SKIPSAVE = cfg['SKIPSAVE']

TAG_SINGLE = "nbconvert_instruction:remove_single_output"

if VERBOSE > 0:
    display(cfg)

{'settings_fn': '../code/assets/drz-auction-settings.ini',
 'DATE': '2021-10',
 'VERBOSE': 1,
 'OPBOD': False,
 'URL': 'http://verkoop.domeinenrz.nl/verkoop_bij_inschrijving_2021-0020',
 'EXTEND_URL': False,
 'CLOSEDDATA': True,
 'closed_data_fields': '*',
 'SKIPSAVE': False}

In [2]:
# dates of auction
# format: yyyy-mm; yyyy: year, mm: month (%Y-%m)
if OPBOD:
    AuctionDates = ['2019-11', '2019-12', 
                    '2020-01', '2020-02', '2020-03', '2021-09-09', '2021-10-10', 
                   ]
else:    
    AuctionDates = ['2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', 
                    '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
                    '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
                    '2020-01', '2020-02', '2020-03', '2020-06', '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
                    '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', 
                    '2021-06', '2021-06-16', '2021-07-07',  '2021-07-17', '2021-08-08', '2021-08-18', '2021-09-09', '2021-09-19', '2021-10-10', '2021-10-20'
                   ]  
if DATE not in ['-'.join(d.split('-')[:2]) for d in AuctionDates]:
    raise ValueError(f'{DATE} not in list that will be concatenated. Add to list.')

### Import modules

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import os
plt.style.use('ggplot')

### Load all data

Auctions are saved monthly in a .pkl file

In [4]:
print('load data')
data = dict()
for AuctionDate in AuctionDates:
    # read data
    if OPBOD:
        fn = '../data/rdw-data-{:s}-opbod.pkl'.format(
            AuctionDate
        )

    else:    
        fn = '../data/rdw-data-{:s}.pkl'.format(
            AuctionDate
        )

    if VERBOSE > 0: print(fn)
    df = pd.read_pickle(fn)
    data[AuctionDate] = df

    
    
# When there are two auctions in a single month
# HACK ALERT!!
if not OPBOD:
    data['2021-06-16'].index = data['2021-06-16'].index.map(lambda x: '{0}-06-{2}{1}'.format(*x.split('-')))
    data['2021-06'].index = data['2021-06'].index.map(lambda x: '{0}-06-{2}{1}'.format(*x.split('-')))
    data['2021-07-07'].index = data['2021-07-07'].index.map(lambda x: '{0}-07-{2}{1}'.format(*x.split('-')))
    data['2021-07-17'].index = data['2021-07-17'].index.map(lambda x: '{0}-07-{2}{1}'.format(*x.split('-')))
    data['2021-08-08'].index = data['2021-08-08'].index.map(lambda x: '{0}-08-{2}{1}'.format(*x.split('-')))
    data['2021-08-18'].index = data['2021-08-18'].index.map(lambda x: '{0}-08-{2}{1}'.format(*x.split('-')))
    data['2021-09-09'].index = data['2021-09-09'].index.map(lambda x: '{0}-09-{2}{1}'.format(*x.split('-')))
    data['2021-09-19'].index = data['2021-09-19'].index.map(lambda x: '{0}-09-{2}{1}'.format(*x.split('-')))
    data['2021-10-10'].index = data['2021-10-10'].index.map(lambda x: '{0}-10-{2}{1}'.format(*x.split('-')))
    data['2021-10-20'].index = data['2021-10-20'].index.map(lambda x: '{0}-10-{2}{1}'.format(*x.split('-')))


if VERBOSE > 0:
    display({'text/plain': '\nlast rows of last file'}, raw=True, metadata={"tags":(TAG_SINGLE, )})
    display(data[AuctionDates[-1]].tail(), metadata={"tags":(TAG_SINGLE, )})

load data
../data/rdw-data-2017-03.pkl
../data/rdw-data-2017-04.pkl
../data/rdw-data-2017-05.pkl
../data/rdw-data-2017-06.pkl
../data/rdw-data-2017-07.pkl
../data/rdw-data-2017-08.pkl
../data/rdw-data-2017-09.pkl
../data/rdw-data-2017-10.pkl
../data/rdw-data-2017-11.pkl
../data/rdw-data-2017-12.pkl
../data/rdw-data-2018-01.pkl
../data/rdw-data-2018-02.pkl
../data/rdw-data-2018-03.pkl
../data/rdw-data-2018-04.pkl
../data/rdw-data-2018-05.pkl
../data/rdw-data-2018-06.pkl
../data/rdw-data-2018-07.pkl
../data/rdw-data-2018-08.pkl
../data/rdw-data-2018-09.pkl
../data/rdw-data-2018-10.pkl
../data/rdw-data-2018-11.pkl
../data/rdw-data-2018-12.pkl
../data/rdw-data-2019-01.pkl
../data/rdw-data-2019-02.pkl
../data/rdw-data-2019-03.pkl
../data/rdw-data-2019-04.pkl
../data/rdw-data-2019-05.pkl
../data/rdw-data-2019-06.pkl
../data/rdw-data-2019-07.pkl
../data/rdw-data-2019-08.pkl
../data/rdw-data-2019-09.pkl
../data/rdw-data-2019-10.pkl
../data/rdw-data-2019-11.pkl
../data/rdw-data-2019-12.pkl
../data/rdw-data-2020-01.pkl
../data/rdw-data-2020-02.pkl
../data/rdw-data-2020-03.pkl
../data/rdw-data-2020-06.pkl
../data/rdw-data-2020-07.pkl
../data/rdw-data-2020-08.pkl
../data/rdw-data-2020-09.pkl
../data/rdw-data-2020-10.pkl
../data/rdw-data-2020-11.pkl
../data/rdw-data-2020-12.pkl
../data/rdw-data-2021-01.pkl
../data/rdw-data-2021-02.pkl
../data/rdw-data-2021-03.pkl
../data/rdw-data-2021-04.pkl
../data/rdw-data-2021-05.pkl
../data/rdw-data-2021-06.pkl
../data/rdw-data-2021-06-16.pkl
../data/rdw-data-2021-07-07.pkl
../data/rdw-data-2021-07-17.pkl
../data/rdw-data-2021-08-08.pkl
../data/rdw-data-2021-08-18.pkl
../data/rdw-data-2021-09-09.pkl
../data/rdw-data-2021-09-19.pkl
../data/rdw-data-2021-10-10.pkl
../data/rdw-data-2021-10-20.pkl

### Consolidate format
Older files are slightly different such as naming conventions etc. Here all results are consolidated into one format.

In [5]:
# Change type of early auctions for images
if VERBOSE > 0:
    print('Fields with images look like this:\n')
    df_ = pd.DataFrame(index=data.keys(), columns=['column', 'type', 'first row'])
    for k in data:
        im_cols = data[k].columns[
            data[k].columns.str.lower().isin(['image', 'images'])
        ]
        example = data[k][im_cols[0]].values[0]
        df_.loc[k, 'type'] = str(type(example))
        df_.loc[k, 'column'] = im_cols[0]
        if isinstance(example, str):
            df_.loc[k, 'first row'] = example
        else:
            df_.loc[k, 'first row'] = len(example)

    display(df_)


if OPBOD:
    # reformatting did not happen in IRS auctions
    pass
else:
    
    # convert string representation of list to real list
    # "['image1', 'image2']"
    for k in ['2017-03',
              '2017-04',
              '2017-05',
              '2017-06',
              '2017-07',
              '2017-08',
              '2017-09',
              '2017-10']:
        data[k]['Images'] = data[k]['Image'].apply(eval)
        data[k] = data[k].drop(columns=['Image'])

    # convert string representation of list without quotes to real list
    # "[image1, image2]"
    for k in ['2017-11',
              '2017-12',
              '2018-01',
              '2018-02',
              '2018-03',
              '2018-04']:
        data[k]['Images'] = data[k]['Images'].apply(lambda s:eval(re.sub(r"^\[(.*)\]$",r"['\1']",re.sub(' *, *',"', '",s))))
    

# Other inconsistencies
if OPBOD:
    pass
else:
    # Other column name that changed in November 2017
    for k in ['2017-03',
              '2017-04',
              '2017-05',
              '2017-06',
              '2017-07',
              '2017-08',
              '2017-09',
              '2017-10']:
        data[k] = data[k].rename(columns={
            'draw':'Draw',
            'nr':'LotNr',
            'raw':'Raw_text',
            'misc':'SupInfo',
            'footnote':'Note',
            'jfq':'jfc',
        })

Fields with images look like this:

,column,type,first row
2017-03,Image,<class 'str'>,['http://www.domeinenrz.nl/ufc/static/14883593...
2017-04,Image,<class 'str'>,['http://www.domeinenrz.nl/ufc/static/14906980...
2017-05,Image,<class 'str'>,['http://www.domeinenrz.nl/ufc/static/14931056...
2017-06,Image,<class 'str'>,['http://www.domeinenrz.nl/ufc/static/14962307...
2017-07,Image,<class 'str'>,['http://www.domeinenrz.nl/ufc/static/14986361...
2017-08,Image,<class 'str'>,['http://www.domeinenrz.nl/ufc/static/15016788...
2017-09,Image,<class 'str'>,['http://www.domeinenrz.nl/ufc/static/15040918...
2017-10,Image,<class 'str'>,['http://www.domeinenrz.nl/ufc/static/15065087...
2017-11,Images,<class 'str'>,[http://www.domeinenrz.nl/ufc/static/150952799...
2017-12,Images,<class 'str'>,[http://www.domeinenrz.nl/ufc/static/151195038...
2018-01,Images,<class 'str'>,[http://www.domeinenrz.nl/ufc/static/151488110...
2018-02,Images,<class 'str'>,[http://www.domeinenrz.nl/ufc/static/151740328...
2018-03,Images,<class 'str'>,[http://www.domeinenrz.nl/ufc/static/151983029...
2018-04,Images,<class 'str'>,[http://www.domeinenrz.nl/ufc/static/152222259...
2018-05,Images,<class 'list'>,2
2018-06,Images,<class 'list'>,2
2018-07,Images,<class 'list'>,2
2018-08,Images,<class 'list'>,2
2018-09,Images,<class 'list'>,2
2018-10,Images,<class 'list'>,2
2018-11,Images,<class 'list'>,2
2018-12,Images,<class 'list'>,2
2019-01,Images,<class 'list'>,2
2019-02,Images,<class 'list'>,2
2019-03,Images,<class 'list'>,2
2019-04,Images,<class 'list'>,2
2019-05,Images,<class 'list'>,2
2019-06,Images,<class 'list'>,2
2019-07,Images,<class 'list'>,2
2019-08,Images,<class 'list'>,4
2019-09,Images,<class 'list'>,2
2019-10,Images,<class 'list'>,2
2019-11,Images,<class 'list'>,2
2019-12,Images,<class 'list'>,2
2020-01,Images,<class 'list'>,2
2020-02,Images,<class 'list'>,2
2020-03,Images,<class 'list'>,2
2020-06,Images,<class 'list'>,2
2020-07,Images,<class 'list'>,2
2020-08,Images,<class 'list'>,2
2020-09,Images,<class 'list'>,2
2020-10,Images,<class 'list'>,2
2020-11,Images,<class 'list'>,2
2020-12,Images,<class 'list'>,4
2021-01,Images,<class 'list'>,2
2021-02,Images,<class 'list'>,5
2021-03,Images,<class 'list'>,8
2021-04,Images,<class 'list'>,6
2021-05,Images,<class 'list'>,6
2021-06,Images,<class 'list'>,5
2021-06-16,Images,<class 'list'>,5
2021-07-07,Images,<class 'list'>,5
2021-07-17,Images,<class 'list'>,8
2021-08-08,Images,<class 'list'>,5
2021-08-18,Images,<class 'list'>,4
2021-09-09,Images,<class 'list'>,8
2021-09-19,Images,<class 'list'>,7
2021-10-10,Images,<class 'list'>,5
2021-10-20,Images,<class 'list'>,11

# Merge all auctions into one data frame

In [6]:
all_data = pd.concat(data)
df = all_data.droplevel(0)

In [7]:
if VERBOSE > 0:
    # Show columns added
    col_exist = pd.DataFrame.from_dict({k:all_data.columns.isin(d.columns) for k,d in data.items()}, orient='index', columns=all_data.columns)
    col_filled = all_data.isna().all(level=0, axis=0) == False

    idx = col_exist.apply(lambda x:np.where(x)[0])

    first_occurence = col_exist.index[idx.apply(lambda x: x[0])]
    last_occurence = col_exist.index[idx.apply(lambda x: x[-1])]
    nr_occurence = idx.apply(len)
    pct_occurence = idx.apply(lambda x: 100*(len(x)/(col_exist.shape[0]-x[0])))

    idx = col_filled.apply(lambda x:np.where(x)[0])
    last_filled = col_filled.index[idx.apply(lambda x: x[-1] if len(x)>0 else col_exist.shape[0]-1)]
    nr_filled = idx.apply(len)
    pct_filled = idx.apply(lambda x: 100*(len(x)/(col_exist.shape[0]-x[0])) if len(x)>0 else 0)


    df_ = pd.DataFrame(zip(first_occurence, last_occurence, nr_occurence, last_filled, nr_filled, pct_occurence, pct_filled), 
                       index=col_exist.columns, 
                       columns=['first', 'last', 'n', 'last_filled', 'n_not_empty', 'pct_since_first', 'pct_filled'])



    for _by_rdw, df__ in df_.groupby(df_.index.str.startswith('rdw')):
        for g,df___ in df__.groupby('first'):
            if g == col_exist.index[0]:
                continue
            print(f'Added in {g}')
            if _by_rdw:
                print('by api')
            with pd.option_context("display.max_rows", 999):
                display(df___.sort_index().sort_values(by='last_filled', ascending=False))

Added in 2017-11

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
N_images,2017-11,2021-10-20,51,2021-10-20,51,100.000000,100.000000
Source,2017-11,2021-10-20,51,2021-10-20,51,100.000000,100.000000
early_reg,2017-11,2021-10-20,51,2021-10-20,51,100.000000,100.000000
locked,2017-11,2021-10-20,38,2021-10-20,38,74.509804,74.509804
wo_frame,2017-11,2021-10-20,50,2021-10-20,50,98.039216,98.039216
used_parts,2017-11,2017-11,1,2017-11,1,1.960784,1.960784

Added in 2018-01

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
disclaim_cr6,2018-01,2021-10-20,43,2021-10-20,43,87.755102,87.755102
import22_btw21,2018-01,2018-07,2,2018-07,2,4.081633,4.081633
import27_btw21,2018-01,2018-07,2,2018-07,2,4.081633,4.081633

Added in 2018-04

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
OdoKM_num,2018-04,2018-04,1,2018-04,1,2.173913,2.173913

Added in 2018-07

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
disclaim12,2018-07,2019-01,7,2019-01,7,16.27907,16.27907

Added in 2019-01

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
crewcab,2019-01,2021-10-20,37,2021-10-20,37,100.0,100.0

Added in 2019-02

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
carwrap,2019-02,2021-10-20,36,2021-10-20,36,100.0,100.0
no_vin,2019-02,2021-10-20,36,2021-10-20,36,100.0,100.0

Added in 2019-05

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
btw21,2019-05,2021-10-20,33,2021-10-20,33,100.0,100.0
d_lic,2019-05,2021-10-20,33,2021-10-20,33,100.0,100.0

Added in 2019-06

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
legguard,2019-06,2021-10-20,32,2021-10-20,32,100.0,100.0

Added in 2020-08

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
disclaim5,2020-08,2021-10-20,20,2021-10-20,20,100.0,100.0

Added in 2020-09

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
no_nlreg19,2020-09,2021-10-20,19,2021-10-20,19,100.0,100.0

Added in 2021-01

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
lot_counter,2021-01,2021-10-20,15,2021-10-20,15,100.0,100.0

Added in 2021-05

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
disclaim6,2021-05,2021-10-20,11,2021-10-20,11,100.0,100.0

Added in 2017-04
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_as_gegevens_gelijkwaardig_aan_luchtvering_1,2017-04,2021-10-20,56,2021-10-20,53,96.551724,92.982456
rdw_motor_uitvoering_brandstof_brandstofverbruik_stadsrit_2_1,2017-04,2021-10-20,49,2021-10-20,48,84.482759,82.758621
rdw_motor_uitvoering_brandstof_emissie_stikstofoxide_type_1_2_1,2017-04,2021-10-20,48,2021-10-20,47,82.758621,81.034483
rdw_motor_uitvoering_brandstof_emissie_koolwaterstof_type_1_2_1,2017-04,2021-10-20,26,2021-10-20,24,44.827586,41.379310
rdw_motor_uitvoering_brandstof_emissie_koolmonoxide_type_1_2_1,2017-04,2021-10-20,48,2021-10-20,47,82.758621,81.034483
rdw_motor_uitvoering_brandstof_emissie_co2_stadsrit_2_1,2017-04,2021-10-20,49,2021-10-20,48,84.482759,82.758621
rdw_motor_uitvoering_brandstof_emissie_co2_combinatierit_2_1,2017-04,2021-10-20,49,2021-10-20,48,84.482759,82.758621
rdw_motor_uitvoering_brandstof_emissie_co2_buitenweg_2_1,2017-04,2021-10-20,49,2021-10-20,48,84.482759,82.758621
rdw_motor_uitvoering_brandstof_brandstofverbruik_combin_rit_2_1,2017-04,2021-10-20,49,2021-10-20,48,84.482759,82.758621
rdw_motor_uitvoering_brandstof_emissiecode_2_1,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_brandstof_brandstofverbruik_buitenweg_2_1,2017-04,2021-10-20,49,2021-10-20,48,84.482759,82.758621
rdw_motor_uitvoering_aantal_cilinders_2,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_32,2017-04,2021-10-20,52,2021-10-20,52,89.655172,89.655172
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_31,2017-04,2021-10-20,52,2021-10-20,52,89.655172,89.655172
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_30,2017-04,2021-10-20,52,2021-10-20,52,89.655172,89.655172
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_29,2017-04,2021-10-20,52,2021-10-20,52,89.655172,89.655172
rdw_motor_uitvoering_brandstof_emissie_vaste_stofdeeltjes_2_1,2017-04,2021-10-20,42,2021-10-20,41,72.413793,73.214286
rdw_motor_uitvoering_brandstof_geluidsniveau_bovengrens_2_1,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_26,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_motor_uitvoering_cng_systeem_2,2017-04,2021-10-20,18,2021-10-20,17,31.034483,29.310345
rdw_motor_uitvoering_werkingsbeginsel_verbrandingsmotor_2,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_voertuigbrandstof_type_2,2017-04,2021-10-20,37,2021-10-20,37,63.793103,63.793103
rdw_motor_uitvoering_motorcode_2,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_motor_registratiedatum_2,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_lpg_systeem_2,2017-04,2021-10-20,18,2021-10-20,17,31.034483,29.310345
rdw_motor_uitvoering_hybride_elektrisch_voertuig_2,2017-04,2021-10-20,38,2021-10-20,38,65.517241,65.517241
rdw_motor_uitvoering_cilinderinhoud_cm3_2,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_brandstof_geluidsniveau_ondergrens_2_1,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_brandstof_toerental_max_vermogen_ondergrens_2_1,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_brandstof_toerental_max_vermogen_bovengrens_2_1,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_brandstof_netto_max_vermogen_ondergrens_2_1,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_brandstof_netto_max_vermogen_bovengrens_2_1,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_motor_uitvoering_brandstof_maximale_biobrandstof_percentage_2_1,2017-04,2021-10-20,26,2021-10-20,26,44.827586,44.827586
rdw_motor_uitvoering_brandstof_geluidsniveau_rijdend_2_1,2017-04,2021-10-20,50,2021-10-20,49,86.206897,84.482759
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_28,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_27,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_25,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_28,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_26,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_25,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_24,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_23,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_22,2017-04,2021-10-20,54,2021-10-20,54,93.103448,93.103448
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_21,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_20,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_19,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_18,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_17,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_16,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_15,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_14,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_13,2017-04,2021-10-20,56,2021-10-20,56,96.551724,96.551724
rdw_basisgegevens_techn_max_massa_autonoom_bovengrens,2017-04,2021-10-20,38,2021-10-20,38,65.517241,65.517241
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_27,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_29,2017-04,2021-10-20,52,2021-10-20,52,89.655172,89.655172
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_17,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_21,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_31,2017-04,2021-10-20,52,2021-10-20,52,89.655172,89.655172
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_32,2017-04,2021-10-20,52,2021-10-20,52,89.655172,89.655172
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_24,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_23,2017-04,2021-10-20,53,2021-10-20,53,91.379310,91.379310
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_13,2017-04,2021-10-20,56,2021-10-20,56,96.551724,96.551724
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_14,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_15,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_16,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_30,2017-04,2021-10-20,52,2021-10-20,52,89.655172,89.655172
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_18,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_19,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_22,2017-04,2021-10-20,54,2021-10-20,54,93.103448,93.103448
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_20,2017-04,2021-10-20,55,2021-10-20,55,94.827586,94.827586
rdw_as_gegevens_gelijkwaardig_aan_luchtvering_2,2017-04,2021-10-20,56,2021-10-10,29,96.551724,50.000000
rdw_motor_uitvoering_brandstof_emissie_co_bij_koude_start_2_1,2017-04,2021-09-19,13,2021-09-19,11,22.413793,18.965517
rdw_motor_uitvoering_brandstof_emissie_hc_bij_koude_start_2_1,2017-04,2021-09-19,13,2021-09-19,11,22.413793,18.965517
rdw_motor_uitvoering_katalysator_indicator_2,2017-04,2020-08,27,2020-08,26,46.551724,44.827586
rdw_uitstoot_deeltjes_zwaar,2017-04,2019-02,18,2019-02,18,31.034483,31.034483

Added in 2017-05
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_as_gegevens_luchtvering_1,2017-05,2021-10-20,54,2021-10-20,53,94.736842,92.982456
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_63,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_34,2017-05,2021-10-20,47,2021-10-20,47,82.456140,82.456140
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_35,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_36,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_37,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_38,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_39,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_40,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_41,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_42,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_43,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_44,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_45,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_46,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_47,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_48,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_49,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_50,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_51,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_52,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_53,2017-05,2021-10-20,42,2021-10-20,41,73.684211,71.929825
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_54,2017-05,2021-10-20,42,2021-10-20,41,73.684211,71.929825
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_55,2017-05,2021-10-20,42,2021-10-20,41,73.684211,71.929825
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_56,2017-05,2021-10-20,42,2021-10-20,41,73.684211,71.929825
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_57,2017-05,2021-10-20,41,2021-10-20,41,71.929825,71.929825
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_58,2017-05,2021-10-20,41,2021-10-20,41,71.929825,71.929825
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_59,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_60,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_61,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_62,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_33,2017-05,2021-10-20,47,2021-10-20,47,82.456140,82.456140
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_62,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_46,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_61,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_33,2017-05,2021-10-20,47,2021-10-20,47,82.456140,82.456140
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_34,2017-05,2021-10-20,47,2021-10-20,47,82.456140,82.456140
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_35,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_36,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_37,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_38,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_39,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_40,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_41,2017-05,2021-10-20,47,2021-10-20,46,82.456140,80.701754
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_42,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_43,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_44,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_45,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_63,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_47,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_48,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_60,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_59,2017-05,2021-10-20,39,2021-10-20,39,68.421053,68.421053
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_58,2017-05,2021-10-20,41,2021-10-20,41,71.929825,71.929825
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_57,2017-05,2021-10-20,41,2021-10-20,41,71.929825,71.929825
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_56,2017-05,2021-10-20,42,2021-10-20,41,73.684211,71.929825
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_55,2017-05,2021-10-20,42,2021-10-20,41,73.684211,71.929825
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_54,2017-05,2021-10-20,42,2021-10-20,41,73.684211,71.929825
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_53,2017-05,2021-10-20,42,2021-10-20,41,73.684211,71.929825
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_52,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_51,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_50,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_49,2017-05,2021-10-20,44,2021-10-20,43,77.192982,75.438596
rdw_as_gegevens_luchtvering_2,2017-05,2021-10-20,54,2021-10-10,19,94.736842,33.928571
rdw_as_gegevens_techn_max_last_asstel_bovengr_2,2017-05,2021-10-10,23,2021-09-09,19,40.350877,36.538462
rdw_as_gegevens_techn_max_last_asstel_bovengr_1,2017-05,2021-10-10,23,2021-09-09,19,40.350877,36.538462

Added in 2017-06
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstof_emissie_stikstofoxide_type_1_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_emissie_koolwaterstof_type_1_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_toerental_max_vermogen_bovengrens_1_2,2017-06,2021-10-20,18,2021-10-20,18,32.142857,32.142857
rdw_motor_uitvoering_max_vermogen_continu_bovengrens_1,2017-06,2021-10-20,14,2021-10-20,13,25.000000,23.214286
rdw_motor_uitvoering_brandstof_netto_max_vermogen_ondergrens_1_2,2017-06,2021-10-20,18,2021-10-20,18,32.142857,32.142857
rdw_motor_uitvoering_brandstof_netto_max_vermogen_bovengrens_1_2,2017-06,2021-10-20,18,2021-10-20,18,32.142857,32.142857
rdw_motor_uitvoering_brandstof_max_vermogen_continu_ondergrens_1_1,2017-06,2021-10-20,29,2021-10-20,25,51.785714,44.642857
rdw_motor_uitvoering_brandstof_max_vermogen_continu_bovengrens_1_1,2017-06,2021-10-20,29,2021-10-20,25,51.785714,44.642857
rdw_motor_uitvoering_brandstof_geluidsniveau_rijdend_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_geluidsniveau_ondergrens_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_geluidsniveau_bovengrens_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_emissiecode_1_2,2017-06,2021-10-20,47,2021-10-20,47,83.928571,83.928571
rdw_motor_uitvoering_brandstof_toerental_max_vermogen_ondergrens_1_2,2017-06,2021-10-20,18,2021-10-20,18,32.142857,32.142857
rdw_motor_uitvoering_brandstof_emissie_koolmonoxide_type_1_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_emissie_co2_stadsrit_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_emissie_co2_combinatierit_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_emissie_co2_buitenweg_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_brandstofverbruik_stadsrit_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_brandstofverbruik_combin_rit_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_brandstof_brandstofverbruik_buitenweg_1_2,2017-06,2021-10-20,17,2021-10-20,17,30.357143,30.357143
rdw_motor_uitvoering_max_vermogen_continu_ondergrens_1,2017-06,2021-10-20,14,2021-10-20,13,25.000000,23.214286
rdw_motor_uitvoering_brandstof_emissie_hc_en_nox_type1_2_1,2017-06,2021-10-10,38,2021-10-10,38,67.857143,67.857143
rdw_motor_uitvoering_brandstof_roet_uitstoot_acc_2_1,2017-06,2021-10-10,40,2021-10-10,40,71.428571,71.428571
rdw_motor_uitvoering_brandstof_station_toerental_ondergrens_acc_2_1,2017-06,2021-10-10,37,2021-10-10,37,66.071429,66.071429
rdw_motor_uitvoering_brandstof_station_toerental_bovengrens_acc_2_1,2017-06,2021-10-10,37,2021-10-10,37,66.071429,66.071429
rdw_motor_uitvoering_brandstof_emissie_hc_bij_koude_start_1_2,2017-06,2021-08-18,12,2021-08-18,12,21.428571,21.428571
rdw_motor_uitvoering_brandstof_emissie_co_bij_koude_start_1_2,2017-06,2021-08-18,12,2021-08-18,12,21.428571,21.428571
rdw_motor_uitvoering_brandstofcode_2,2017-06,2021-07-17,10,2021-07-17,10,17.857143,17.857143
rdw_basisgegevens_max_massa_voertuig_bovengrens,2017-06,2021-04,10,2021-04,10,17.857143,17.857143
rdw_basisgegevens_zelfdragende_carrosserie,2017-06,2021-04,9,2021-04,9,16.071429,16.071429
rdw_basisgegevens_min_massa_voertuig,2017-06,2021-04,8,2021-04,8,14.285714,14.285714
rdw_motor_uitvoering_brandstof_vermogen_ondergrens_2_1,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_brandstof_vermogen_bovengrens_2_1,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_vermogen_ondergrens_2,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_vermogen_bovengrens_2,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_toerental_geluidsniveau_ondergrens_2,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_toerental_geluidsniveau_bovengrens_2,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_soort_inspuiting_motor_2,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_geluidsniveau_rijdend_2,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_geluidsniveau_ondergrens_2,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_geluidsniveau_bovengrens_2,2017-06,2019-03,9,2019-03,9,16.071429,16.071429
rdw_motor_uitvoering_emissiecode_2,2017-06,2019-03,8,2019-03,8,14.285714,14.285714
rdw_motor_uitvoering_emissie_koolmonoxide_2,2017-06,2019-03,6,2019-03,6,10.714286,10.714286
rdw_motor_uitvoering_emissie_hc_en_nox_2,2017-06,2019-03,6,2019-03,6,10.714286,10.714286
rdw_motor_uitvoering_emissie_co2_combinatierit_2,2017-06,2019-03,5,2019-03,5,8.928571,8.928571
rdw_motor_uitvoering_brandstofverbruik_stadsrit_2,2017-06,2019-03,6,2019-03,6,10.714286,10.714286
rdw_motor_uitvoering_brandstofverbruik_combin_rit_2,2017-06,2019-03,6,2019-03,6,10.714286,10.714286
rdw_motor_uitvoering_brandstofverbruik_buitenweg_2,2017-06,2019-03,6,2019-03,6,10.714286,10.714286
rdw_nominaal_continu_maximumvermogen,2017-06,2019-03,15,2019-03,14,26.785714,25.000000

Added in 2017-07
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_basisgegevens_tweede_brandstofcode_voertuig,2017-07,2021-10-20,20,2021-10-20,19,36.363636,34.545455
rdw_motor_uitvoering_brandstof_actieradius_brandstof_1_1,2017-07,2021-10-10,11,2021-10-10,8,20.000000,14.545455
rdw_motor_uitvoering_brandstof_actieradius_brandstof_extern_oplaadbaar_1_2,2017-07,2021-10-10,23,2021-10-10,22,41.818182,40.000000
rdw_motor_uitvoering_brandstof_elektrisch_verbruik_combinatie_1_2,2017-07,2021-09-19,21,2021-09-19,21,38.181818,38.181818
rdw_motor_uitvoering_brandstof_vermogen_bovengrens_1_2,2017-07,2021-09-19,9,2021-09-19,9,16.363636,16.363636
rdw_motor_uitvoering_brandstof_vermogen_ondergrens_1_2,2017-07,2021-09-19,9,2021-09-19,9,16.363636,16.363636

Added in 2017-08
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstof_emissie_aant_deeltjes_t1_test_2_1,2017-08,2021-10-20,24,2021-10-20,24,44.444444,44.444444

Added in 2017-09
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstof_actieradius_brandstof_extern_oplaadbaar_2_1,2017-09,2021-07-17,5,2021-07-17,5,9.433962,9.433962
rdw_motor_uitvoering_brandstof_elektrisch_verbruik_combinatie_2_1,2017-09,2021-07-17,5,2021-07-17,5,9.433962,9.433962
rdw_basisgegevens_max_massa_voertuig_ondergrens,2017-09,2021-04,7,2021-04,7,13.207547,13.207547
rdw_motor_uitvoering_roet_uitstoot_2,2017-09,2018-01,3,2018-01,3,5.660377,5.660377
rdw_motor_uitvoering_stationair_toerental_bovengr_2,2017-09,2018-01,3,2018-01,3,5.660377,5.660377
rdw_motor_uitvoering_stationair_toerental_ondergr_2,2017-09,2018-01,3,2018-01,3,5.660377,5.660377

Added in 2017-10
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_plaatsaanduiding_uitvoering_plaatsaanduiding_registratie_datum_4,2017-10,2021-08-18,12,2021-08-18,12,23.076923,23.076923
rdw_plaatsaanduiding_uitvoering_plaatscode_voeruig_identificatie_4,2017-10,2021-08-18,12,2021-08-18,12,23.076923,23.076923

Added in 2017-12
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstof_max_vermogen_continu_bovengrens_1_2,2017-12,2021-10-20,37,2021-10-20,37,74.0,74.0
rdw_motor_uitvoering_brandstof_max_vermogen_continu_ondergrens_1_2,2017-12,2021-10-20,37,2021-10-20,37,74.0,74.0
rdw_motor_uitvoering_extern_oplaadbaar_2,2017-12,2021-10-20,16,2021-10-20,15,32.0,30.0
rdw_subcategorie_uitvoering_subcateg_uitvoering_europees,2017-12,2021-10-20,16,2021-10-20,15,32.0,30.0
rdw_subcategorie_uitvoering_subcategorie_uitvoering_volgnr,2017-12,2021-10-20,16,2021-10-20,15,32.0,30.0

Added in 2018-01
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_basisgegevens_techn_max_massa_autonoom_ondergrens,2018-01,2021-10-20,15,2021-10-20,15,30.612245,30.612245
rdw_motor_uitvoering_electromotor_af_fabriek_indicator_2,2018-01,2021-10-20,17,2021-10-20,15,34.693878,30.612245
rdw_motor_uitvoering_brandstof_elektrisch_verbruik_gecomb_1_1,2018-01,2021-10-10,12,2021-10-10,12,24.489796,24.489796
rdw_motor_uitvoering_brandstof_verbruik_gecombineerd_1_1,2018-01,2021-10-10,21,2021-10-10,21,42.857143,42.857143
rdw_motor_uitvoering_brandstof_emissie_co2_gecombineerd_1_1,2018-01,2021-10-10,21,2021-10-10,21,42.857143,42.857143
rdw_motor_uitvoering_brandstof_actieradius_brandstof_1_2,2018-01,2021-09-19,12,2021-09-19,12,24.489796,24.489796
rdw_motor_uitvoering_motorcode_3,2018-01,2021-07-17,7,2021-07-17,7,14.285714,14.285714
rdw_motor_uitvoering_motor_registratiedatum_3,2018-01,2021-07-17,7,2021-07-17,7,14.285714,14.285714
rdw_motor_uitvoering_brandstof_emissiecode_2_2,2018-01,2020-12,2,2020-12,2,4.081633,4.081633
rdw_co2_uitstoot_gewogen,2018-01,2019-03,8,2019-03,6,16.326531,12.244898
rdw_motor_uitvoering_brandstof_netto_max_vermogen_bovengrens_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_cilinderinhoud_cm3_3,2018-01,2021-02,6,2018-09,5,12.244898,10.204082
rdw_motor_uitvoering_brandstof_toerental_max_vermogen_ondergrens_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_toerental_max_vermogen_bovengrens_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_netto_max_vermogen_ondergrens_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_geluidsniveau_ondergrens_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_geluidsniveau_rijdend_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_geluidsniveau_bovengrens_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_emissie_koolmonoxide_type_1_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_emissie_hc_en_nox_type1_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_emissie_co2_combinatierit_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_brandstofverbruik_stadsrit_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_brandstofverbruik_combin_rit_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_brandstof_brandstofverbruik_buitenweg_3_1,2018-01,2018-09,5,2018-09,5,10.204082,10.204082
rdw_motor_uitvoering_aantal_cilinders_3,2018-01,2021-02,6,2018-09,5,12.244898,10.204082
rdw_motor_uitvoering_werkingsbeginsel_verbrandingsmotor_3,2018-01,2021-02,6,2018-09,5,12.244898,10.204082
rdw_motor_uitvoering_brandstof_max_vermogen_continu_bovengrens_2_2,2018-01,2018-01,1,2018-01,1,2.040816,2.040816
rdw_motor_uitvoering_brandstof_max_vermogen_continu_ondergrens_2_2,2018-01,2018-01,1,2018-01,1,2.040816,2.040816

Added in 2018-02
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_basisgegevens_afst_hart_koppeling_as_bovengrens,2018-02,2021-10-10,18,2021-10-10,17,37.500000,35.416667
rdw_basisgegevens_afst_hart_koppeling_as_ondergrens,2018-02,2021-10-10,18,2021-10-10,17,37.500000,35.416667
rdw_as_gegevens_afstand_volgende_as_bovengrens_3,2018-02,2021-06-16,9,2021-06-16,2,18.750000,9.090909
rdw_as_gegevens_afstand_volgende_as_ondergrens_3,2018-02,2021-06-16,9,2021-06-16,2,18.750000,9.090909
rdw_as_gegevens_dubbele_montage_3,2018-02,2021-06-16,8,2021-06-16,7,16.666667,14.583333
rdw_as_gegevens_gestuurde_as_indicator_3,2018-02,2021-06-16,8,2021-06-16,7,16.666667,14.583333
rdw_as_gegevens_hefas_3,2018-02,2021-06-16,8,2021-06-16,7,16.666667,14.583333
rdw_as_gegevens_plaats_as_code_3,2018-02,2021-06-16,8,2021-06-16,7,16.666667,14.583333
rdw_as_gegevens_snelheidssymbool_ondergrens_3,2018-02,2021-06-16,8,2021-06-16,7,16.666667,14.583333
rdw_as_gegevens_techn_max_last_as_bovengrens_3,2018-02,2021-06-16,9,2021-06-16,8,18.750000,16.666667
rdw_as_gegevens_techn_max_last_asstel_bovengr_3,2018-02,2021-06-16,6,2021-06-16,5,12.500000,10.416667
rdw_as_gegevens_spoorbreedte_bovengrens_3,2018-02,2021-03,7,2021-03,6,14.583333,12.500000
rdw_as_gegevens_spoorbreedte_ondergrens_3,2018-02,2021-03,7,2021-03,6,14.583333,12.500000
rdw_carrosserie_uitvoering_nummerieke_code_carrosserie_uitvoering_numeriek_europees,2018-02,2021-02,10,2021-02,10,20.833333,20.833333
rdw_carrosserie_uitvoering_nummerieke_code_carrosserie_uitvoering_numeriek_volgnummer,2018-02,2021-02,10,2021-02,10,20.833333,20.833333
rdw_carrosserie_uitvoering_nummerieke_code_carrosserie_volgnummer,2018-02,2021-02,10,2021-02,10,20.833333,20.833333

Added in 2018-03
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_67,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_72,2018-03,2021-10-20,25,2021-10-20,25,53.191489,53.191489
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_72,2018-03,2021-10-20,25,2021-10-20,25,53.191489,53.191489
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_71,2018-03,2021-10-20,25,2021-10-20,25,53.191489,53.191489
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_70,2018-03,2021-10-20,25,2021-10-20,25,53.191489,53.191489
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_69,2018-03,2021-10-20,25,2021-10-20,25,53.191489,53.191489
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_68,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_66,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_65,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_64,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_71,2018-03,2021-10-20,25,2021-10-20,25,53.191489,53.191489
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_68,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_64,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_65,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_66,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_67,2018-03,2021-10-20,37,2021-10-20,37,78.723404,78.723404
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_69,2018-03,2021-10-20,25,2021-10-20,25,53.191489,53.191489
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_70,2018-03,2021-10-20,25,2021-10-20,25,53.191489,53.191489
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_73,2018-03,2021-10-10,23,2021-10-10,23,48.936170,48.936170
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_74,2018-03,2021-10-10,23,2021-10-10,23,48.936170,48.936170
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_73,2018-03,2021-10-10,23,2021-10-10,23,48.936170,48.936170
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_74,2018-03,2021-10-10,23,2021-10-10,23,48.936170,48.936170
rdw_as_gegevens_techn_max_last_as_ondergrens_3,2018-03,2021-03,2,2021-03,2,4.255319,4.255319
rdw_motor_uitvoering_brandstof_emissie_koolwaterstoffen_esc_test_1_1,2018-03,2020-12,9,2020-12,9,19.148936,19.148936
rdw_motor_uitvoering_brandstof_emissie_vaste_stofdeeltjes_esc_test_1_1,2018-03,2020-12,9,2020-12,9,19.148936,19.148936
rdw_motor_uitvoering_brandstof_emissie_stikstofoxiden_etc_test_1_1,2018-03,2020-12,9,2020-12,9,19.148936,19.148936
rdw_motor_uitvoering_brandstof_emissie_stikstofoxiden_esc_test_1_1,2018-03,2020-12,9,2020-12,9,19.148936,19.148936
rdw_motor_uitvoering_brandstof_emissie_vaste_stofdeeltjes_etc_test_1_1,2018-03,2020-12,9,2020-12,9,19.148936,19.148936
rdw_motor_uitvoering_brandstof_emissie_koolmonoxide_esc_test_1_1,2018-03,2020-12,9,2020-12,9,19.148936,19.148936
rdw_motor_uitvoering_brandstof_emissie_koolmonaxide_etc_test_1_1,2018-03,2020-12,9,2020-12,9,19.148936,19.148936
rdw_motor_uitvoering_brandstof_emissie_koolwaterstoffen_etc_test_1_1,2018-03,2020-08,6,2020-08,6,12.765957,12.765957
rdw_milieuklasse_eg_goedkeuring_zwaar,2018-03,2018-08,2,2018-08,2,4.255319,4.255319
rdw_as_gegevens_aangedreven_as_3,2018-03,2018-03,1,2018-03,1,2.127660,2.127660

Added in 2018-04
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_enkel_electrische_indicator_2,2018-04,2021-10-20,14,2021-10-20,14,30.434783,30.434783

Added in 2018-06
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_75,2018-06,2021-10-10,21,2021-10-10,21,47.727273,47.727273
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_76,2018-06,2021-10-10,21,2021-10-10,21,47.727273,47.727273
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_75,2018-06,2021-10-10,21,2021-10-10,21,47.727273,47.727273
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_76,2018-06,2021-10-10,21,2021-10-10,21,47.727273,47.727273

Added in 2018-07
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstofcode_3,2018-07,2021-07-17,4,2021-07-17,4,9.302326,9.302326
rdw_motor_uitvoering_brandstof_emissiecode_3_1,2018-07,2021-02,4,2021-02,4,9.302326,9.302326
rdw_basisgegevens_techn_max_massa_oplegger_bovengrens,2018-07,2020-12,4,2020-12,4,9.302326,9.302326
rdw_motor_uitvoering_emissiecode_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_vermogen_bovengrens_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_toerental_geluidsniveau_ondergrens_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_toerental_geluidsniveau_bovengrens_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_soort_inspuiting_motor_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_geluidsniveau_rijdend_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_geluidsniveau_ondergrens_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_geluidsniveau_bovengrens_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_emissie_koolmonoxide_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_emissie_hc_en_nox_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_emissie_co2_combinatierit_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_brandstofverbruik_stadsrit_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_brandstofverbruik_combin_rit_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_brandstofverbruik_buitenweg_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_brandstof_vermogen_ondergrens_3_1,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_brandstof_vermogen_bovengrens_3_1,2018-07,2018-09,3,2018-09,3,6.976744,6.976744
rdw_motor_uitvoering_vermogen_ondergrens_3,2018-07,2018-09,3,2018-09,3,6.976744,6.976744

Added in 2018-08
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstof_rookwaarde_elr_test_1_1,2018-08,2021-10-20,10,2021-10-20,10,23.809524,23.809524

Added in 2018-10
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_77,2018-10,2021-10-10,20,2021-10-10,20,50.0,50.0
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_78,2018-10,2021-10-10,20,2021-10-10,20,50.0,50.0
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_79,2018-10,2021-10-10,20,2021-10-10,20,50.0,50.0
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_80,2018-10,2021-10-10,20,2021-10-10,20,50.0,50.0
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_77,2018-10,2021-10-10,20,2021-10-10,20,50.0,50.0
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_78,2018-10,2021-10-10,20,2021-10-10,20,50.0,50.0
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_79,2018-10,2021-10-10,20,2021-10-10,20,50.0,50.0
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_80,2018-10,2021-10-10,20,2021-10-10,20,50.0,50.0
rdw_basisgegevens_max_ondersteuning_snelheid_bovengrens,2018-10,2021-04,6,2021-04,6,15.0,15.0
rdw_basisgegevens_max_ondersteuning_snelheid_ondergrens,2018-10,2021-04,6,2021-04,6,15.0,15.0

Added in 2018-12
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_as_gegevens_rolstraal_bovengrens_3,2018-12,2021-03,5,2021-03,4,13.157895,18.181818
rdw_as_gegevens_rolstraal_ondergrens_3,2018-12,2021-03,5,2021-03,4,13.157895,18.181818

Added in 2019-03
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstof_emissie_vaste_stofdeeltjes_1_2,2019-03,2021-10-20,3,2021-10-20,3,8.571429,8.571429
rdw_motor_uitvoering_brandstof_maximale_biobrandstof_percentage_1_2,2019-03,2021-10-20,2,2021-10-20,2,5.714286,5.714286
rdw_motor_uitvoering_brandstof_emissie_aant_deeltjes_t1_test_1_2,2019-03,2019-03,1,2019-03,1,2.857143,2.857143

Added in 2019-04
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_Reg,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_nominaal_continu_maximumvermogen_1,2019-04,2021-10-20,30,2021-10-20,20,88.235294,71.428571
rdw_brandstof_emissiecode_omschrijving_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_emissiecode_omschrijving_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_geluidsniveau_rijdend_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_geluidsniveau_rijdend_2,2019-04,2021-10-20,34,2021-10-20,30,100.000000,90.909091
rdw_brandstof_geluidsniveau_stationair_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_geluidsniveau_stationair_2,2019-04,2021-10-20,34,2021-10-20,30,100.000000,90.909091
rdw_brandstof_milieuklasse_eg_goedkeuring_licht_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_milieuklasse_eg_goedkeuring_licht_2,2019-04,2021-10-20,34,2021-10-20,30,100.000000,88.235294
rdw_brandstof_nettomaximumvermogen_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_nettomaximumvermogen_2,2019-04,2021-10-20,34,2021-10-20,30,100.000000,90.909091
rdw_brandstof_nominaal_continu_maximumvermogen_2,2019-04,2021-10-20,30,2021-10-20,22,88.235294,64.705882
rdw_brandstof_co2_uitstoot_gecombineerd_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_roetuitstoot_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_roetuitstoot_2,2019-04,2021-10-20,34,2021-10-20,0,100.000000,0.000000
rdw_brandstof_toerental_geluidsniveau_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_toerental_geluidsniveau_2,2019-04,2021-10-20,34,2021-10-20,30,100.000000,90.909091
rdw_brandstof_uitstoot_deeltjes_licht_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_uitstoot_deeltjes_zwaar_1,2019-04,2021-10-20,20,2021-10-20,20,58.823529,58.823529
rdw_brandstof_uitstoot_deeltjes_zwaar_2,2019-04,2021-10-20,20,2021-10-20,0,58.823529,0.000000
rdw_carrosserie_carrosserietype_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_carrosserie_specifiek_carrosserie_voertuig_nummer_europese_omschrijving_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_carrosserie_specifiek_carrosseriecode_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_aangedreven_as_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_co2_uitstoot_gecombineerd_2,2019-04,2021-10-20,34,2021-10-20,28,100.000000,84.848485
rdw_brandstof_brandstofverbruik_stad_2,2019-04,2021-10-20,34,2021-10-20,25,100.000000,75.757576
rdw_assen_technisch_toegestane_maximum_aslast_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_aangedreven_as_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_aantal_assen_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_aantal_assen_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_hefas_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_hefas_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_plaatscode_as_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_plaatscode_as_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_spoorbreedte_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_spoorbreedte_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_brandstofverbruik_stad_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_technisch_toegestane_maximum_aslast_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_weggedrag_code_1,2019-04,2021-10-20,22,2021-10-20,0,64.705882,0.000000
rdw_assen_weggedrag_code_2,2019-04,2021-10-20,22,2021-10-20,22,64.705882,64.705882
rdw_assen_wettelijk_toegestane_maximum_aslast_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_assen_wettelijk_toegestane_maximum_aslast_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_brandstof_omschrijving_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_brandstof_omschrijving_2,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_brandstofverbruik_buiten_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_brandstofverbruik_buiten_2,2019-04,2021-10-20,34,2021-10-20,25,100.000000,75.757576
rdw_brandstof_brandstofverbruik_gecombineerd_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_brandstofverbruik_gecombineerd_2,2019-04,2021-10-20,34,2021-10-20,28,100.000000,84.848485
rdw_carrosserie_type_carrosserie_europese_omschrijving_1,2019-04,2021-10-20,34,2021-10-20,34,100.000000,100.000000
rdw_brandstof_uitstoot_deeltjes_licht_2,2019-04,2021-10-20,34,2021-09-09,3,100.000000,15.789474
rdw_carrosserie_specifiek_carrosserie_voertuig_nummer_code_volgnummer_1,2019-04,2020-11,18,2020-11,18,52.941176,52.941176

Added in 2019-05
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_brandstof_co2_uitstoot_gewogen_1,2019-05,2021-10-10,14,2021-10-10,12,42.424242,36.363636
rdw_brandstof_co2_uitstoot_gewogen_2,2019-05,2021-10-10,14,2021-10-10,4,42.424242,30.769231

Added in 2019-09
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_assen_aangedreven_as_3,2019-09,2021-10-20,14,2021-10-20,10,48.275862,34.482759
rdw_assen_technisch_toegestane_maximum_aslast_3,2019-09,2021-10-20,14,2021-10-20,13,48.275862,44.827586
rdw_assen_aantal_assen_3,2019-09,2021-10-20,14,2021-10-20,14,48.275862,48.275862
rdw_assen_wettelijk_toegestane_maximum_aslast_3,2019-09,2021-10-20,14,2021-10-20,14,48.275862,48.275862
rdw_brandstof_milieuklasse_eg_goedkeuring_zwaar_2,2019-09,2021-04,11,2021-10-20,0,37.931034,0.000000
rdw_assen_plaatscode_as_3,2019-09,2021-10-20,14,2021-10-20,14,48.275862,48.275862
rdw_assen_hefas_3,2019-09,2021-10-20,14,2021-10-20,14,48.275862,48.275862
rdw_assen_spoorbreedte_3,2019-09,2021-10-20,14,2021-07-07,3,48.275862,25.000000
rdw_assen_weggedrag_code_3,2019-09,2021-10-20,12,2021-04,1,41.379310,8.333333
rdw_brandstof_milieuklasse_eg_goedkeuring_zwaar_1,2019-09,2021-04,11,2021-04,11,37.931034,37.931034
rdw_motor_uitvoering_brandstof_emissie_koolmonaxide_etc_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828
rdw_motor_uitvoering_brandstof_emissie_koolmonoxide_esc_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828
rdw_motor_uitvoering_brandstof_emissie_koolwaterstoffen_esc_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828
rdw_motor_uitvoering_brandstof_emissie_koolwaterstoffen_etc_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828
rdw_motor_uitvoering_brandstof_emissie_stikstofoxiden_esc_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828
rdw_motor_uitvoering_brandstof_emissie_stikstofoxiden_etc_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828
rdw_motor_uitvoering_brandstof_emissie_vaste_stofdeeltjes_esc_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828
rdw_motor_uitvoering_brandstof_emissie_vaste_stofdeeltjes_etc_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828
rdw_motor_uitvoering_brandstof_rookwaarde_elr_test_2_1,2019-09,2020-01,3,2020-01,3,10.344828,10.344828

Added in 2019-11
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_81,2019-11,2021-10-10,17,2021-10-10,17,62.962963,62.962963
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_82,2019-11,2021-10-10,17,2021-10-10,17,62.962963,62.962963
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_94,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_93,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_92,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_91,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_90,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_89,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_88,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_87,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_86,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_85,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_84,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_83,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_82,2019-11,2021-10-10,17,2021-10-10,17,62.962963,62.962963
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_81,2019-11,2021-10-10,17,2021-10-10,17,62.962963,62.962963
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_95,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_94,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_93,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_92,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_91,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_90,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_89,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_88,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_87,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_86,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_85,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_84,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_83,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_95,2019-11,2021-10-10,16,2021-10-10,16,59.259259,59.259259

Added in 2020-03
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstof_emissie_co_volgens_whsc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_co_volgens_whtc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_deeltjes_aantal_whsc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_deeltjes_aantal_whtc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_deeltjes_massa_whsc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_deeltjes_massa_whtc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_nh3_volgens_whsc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_nh3_volgens_whtc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_nox_volgens_whsc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_nox_volgens_whtc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_thc_volgens_whsc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_thc_volgens_whtc_1_1,2020-03,2021-04,5,2021-04,5,21.739130,21.739130
rdw_motor_uitvoering_brandstof_emissie_non_methaan_koolw_etc_test_1_1,2020-03,2020-12,3,2020-12,3,13.043478,13.043478

Added in 2020-06
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_brandstof_brandstof_verbruik_gecombineerd_wltp_1,2020-06,2021-10-20,14,2021-10-20,14,63.636364,63.636364
rdw_brandstof_emissie_co2_gecombineerd_wltp_1,2020-06,2021-10-20,19,2021-10-20,19,86.363636,86.363636
rdw_uitvoeringverbruik_per_uitgave_verbruikcategorie_uitvoering_20,2020-06,2021-10-20,18,2021-10-20,18,81.818182,81.818182
rdw_brandstof_brandstof_verbruik_gewogen_gecombineerd_wltp_1,2020-06,2021-07-07,4,2021-07-07,3,18.181818,13.636364
rdw_brandstof_brandstof_verbruik_gecombineerd_wltp_2,2020-06,2021-10-20,14,2021-05,3,63.636364,21.428571
rdw_brandstof_emissie_co2_gecombineerd_wltp_2,2020-06,2021-10-20,19,2021-05,2,86.363636,14.285714
rdw_brandstof_brandstof_verbruik_gewogen_gecombineerd_wltp_2,2020-06,2021-07-07,4,2021-03,1,18.181818,7.692308

Added in 2020-07
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_brandstof_klasse_hybride_elektrisch_voertuig_1,2020-07,2021-10-20,20,2021-10-20,20,95.238095,95.238095
rdw_brandstof_klasse_hybride_elektrisch_voertuig_2,2020-07,2021-10-20,20,2021-10-20,20,95.238095,95.238095

Added in 2020-08
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_brandstof_emis_deeltjes_type1_wltp_1,2020-08,2021-10-20,19,2021-10-20,19,95.0,95.000000
rdw_brandstof_netto_max_vermogen_elektrisch_2,2020-08,2021-08-18,8,2021-08-18,2,40.0,10.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_109,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_101,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_102,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_103,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_104,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_105,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_106,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_107,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_108,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_110,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_99,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_111,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_112,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_113,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_114,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_96,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_97,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_98,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_100,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_98,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_107,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_97,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_100,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_101,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_102,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_103,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_104,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_105,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_106,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_99,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_108,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_109,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_110,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_111,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_112,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_113,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_114,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_96,2020-08,2021-07-17,8,2021-07-17,8,40.0,40.000000
rdw_brandstof_netto_max_vermogen_elektrisch_1,2020-08,2021-08-18,8,2021-06,6,40.0,31.578947
rdw_brandstof_emis_deeltjes_type1_wltp_2,2020-08,2021-10-20,19,2021-03,2,95.0,14.285714

Added in 2020-12
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_carrosserie_specifiek_carrosserie_volgnummer_1,2020-12,2021-10-20,16,2021-10-20,16,100.00,100.000000
rdw_brandstof_max_vermogen_60_minuten_2,2020-12,2021-08-18,7,2021-08-18,2,43.75,13.333333
rdw_brandstof_max_vermogen_60_minuten_1,2020-12,2021-08-18,7,2021-06,5,43.75,31.250000
rdw_carrosserie_specifiek_carrosserie_voertuig_nummer_europese_omschrijving_2,2020-12,2021-01,2,2021-01,2,12.50,12.500000
rdw_carrosserie_specifiek_carrosserie_volgnummer_2,2020-12,2021-01,2,2021-01,2,12.50,12.500000
rdw_carrosserie_specifiek_carrosseriecode_2,2020-12,2021-01,2,2021-01,2,12.50,12.500000
rdw_motor_uitvoering_brandstof_emissie_koolwaterstof_type_1_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_toerental_max_vermogen_bovengrens_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_netto_max_vermogen_ondergrens_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_netto_max_vermogen_bovengrens_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_geluidsniveau_rijdend_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_geluidsniveau_ondergrens_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_geluidsniveau_bovengrens_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_emissie_stikstofoxide_type_1_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_emissie_co_bij_koude_start_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_emissie_koolmonoxide_type_1_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_emissie_hc_bij_koude_start_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_emissie_co2_stadsrit_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_emissie_co2_combinatierit_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_emissie_co2_buitenweg_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_brandstofverbruik_stadsrit_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_brandstofverbruik_combin_rit_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_brandstofverbruik_buitenweg_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000
rdw_motor_uitvoering_brandstof_toerental_max_vermogen_ondergrens_2_2,2020-12,2020-12,1,2020-12,1,6.25,6.250000

Added in 2021-01
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_ovi_company_owner,2021-01,2021-10-20,15,2021-10-20,15,100.0,100.0
rdw_ovi_owners,2021-01,2021-10-20,15,2021-10-20,15,100.0,100.0
rdw_ovi_private_owners,2021-01,2021-10-20,15,2021-10-20,15,100.0,100.0
rdw_ovi_under_survey,2021-01,2021-10-20,15,2021-10-20,15,100.0,100.0

Added in 2021-02
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_LotType,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_status_terugroepacties,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_omschrijving_herstel,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_omschrijving_defect,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_mogelijk_gevaar,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_merk,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximumtrapondersteundesnelheid,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximum_massa_voertuig,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximum_massa_samenstel,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximum_massa_oplegger_geremd,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximum_massa_ongeremd,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximum_massa_middenas_geremd,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximum_massa_geremd,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximum_massa_autonoom_geremd,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_maximum_constructie_snelheid,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_materiele_gevolgens,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_massa_ledig_voertuig,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_plaats_chassis_omschrijving,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_sub_cat_omschrijving,2021-02,2021-10-20,9,2021-10-20,9,64.285714,64.285714
rdw_ovi_lengte,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_technische_maximum_massa_voertuig,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_wachten_op_keuring,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_w_a_verzekerd,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_voertuigsoort,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_vervaldatum_apk_keuring,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_verval_dat_tachograaf,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_vermogen_q,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_variant,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_uitvoering,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_typegoedkeuring,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_type_gas_installatie,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_type,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_tijd_aanvang_tenaamstelling,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_tellerstand_toelichting,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_tellerstand_oordeel,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_tellerstand_datum,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_massa_bedrijfsklaar,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_laadvermogen,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_afwijkende_max_snelheid,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_breedte,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_aantal_assen,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_aantal_cilinders,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_aantal_deuren,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_aantal_rolstoelplaatsen,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_aantal_staanplaatsen,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_aantal_wielen,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_aantal_zitplaatsen,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_afstand_hartkoppeling_tot_achterzijde_vrtg,2021-02,2021-10-20,11,2021-10-20,11,78.571429,78.571429
rdw_ovi_afstand_voorzijde_vrtg_tot_hartkoppeling,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_kleur,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_bijzonderheid_tekst,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_bpm_bedrag,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_wielbasis,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_car_vtg_num_eu_omschrijving,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_eigenaren,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_inrichting_code_omschrijving,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_carrosserie_omschrijving,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_gestolen,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_geexporteerd,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_emissieklasse_diesel,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_handelsbenaming,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_eerste_toelatingsdatum,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_eerste_afgifte_nederland,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_datum_aanvang_tenaamstelling,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_cilinder_inhoud,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_ovi_catalogus_prijs,2021-02,2021-10-20,14,2021-10-20,14,100.000000,100.000000
rdw_motor_uitvoering_enkel_electrische_indicator_3,2021-02,2021-07-17,2,2021-07-17,2,14.285714,14.285714
rdw_motor_uitvoering_brandstof_max_vermogen_continu_ondergrens_3_1,2021-02,2021-07-17,2,2021-07-17,2,14.285714,14.285714
rdw_motor_uitvoering_brandstof_max_vermogen_continu_ondergrens_2_1,2021-02,2021-07-17,2,2021-07-17,2,14.285714,14.285714
rdw_motor_uitvoering_brandstof_max_vermogen_continu_bovengrens_3_1,2021-02,2021-07-17,2,2021-07-17,2,14.285714,14.285714
rdw_motor_uitvoering_brandstof_max_vermogen_continu_bovengrens_2_1,2021-02,2021-07-17,2,2021-07-17,2,14.285714,14.285714
rdw_motor_uitvoering_voertuigbrandstof_type_3,2021-02,2021-02,1,2021-02,1,7.142857,7.142857
rdw_motor_uitvoering_hybride_elektrisch_voertuig_3,2021-02,2021-02,1,2021-02,1,7.142857,7.142857
rdw_motor_uitvoering_extern_oplaadbaar_3,2021-02,2021-02,1,2021-02,1,7.142857,7.142857
rdw_motor_uitvoering_electromotor_af_fabriek_indicator_3,2021-02,2021-02,1,2021-02,1,7.142857,7.142857

Added in 2021-03
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_uitvoeringverbruik_per_uitgave_verbruikcategorie_uitvoering_21,2021-03,2021-10-20,10,2021-10-20,10,76.923077,76.923077
rdw_brandstof_actie_radius_extern_opladen_wltp_2,2021-03,2021-03,1,2021-10-20,0,7.692308,0.000000
rdw_brandstof_actie_radius_extern_opladen_stad_wltp_2,2021-03,2021-03,1,2021-10-20,0,7.692308,0.000000
rdw_brandstof_elektrisch_verbruik_extern_opladen_wltp_2,2021-03,2021-03,1,2021-10-20,0,7.692308,0.000000
rdw_brandstof_emis_co2_gewogen_gecombineerd_wltp_1,2021-03,2021-03,1,2021-10-20,0,7.692308,0.000000
rdw_carrosserie_uitvoering_nummerieke_code_carrosserie_uitvoering_numeriek_europees_1,2021-03,2021-09-09,3,2021-09-09,3,23.076923,23.076923
rdw_carrosserie_uitvoering_nummerieke_code_carrosserie_volgnummer_1,2021-03,2021-09-09,3,2021-09-09,3,23.076923,23.076923
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_120,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_115,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_116,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_117,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_118,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_119,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_123,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_121,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_122,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_126,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_124,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_125,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_126,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_registratiedatum_handelsbenaming_127,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_127,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_122,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_125,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_124,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_123,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_121,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_120,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_119,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_118,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_117,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_116,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_handelsbenaming_uitvoering_handelsbenaming_fabrikant_115,2021-03,2021-07-17,2,2021-07-17,2,15.384615,15.384615
rdw_carrosserie_uitvoering_nummerieke_code_carrosserie_volgnummer_2,2021-03,2021-03,1,2021-03,1,7.692308,7.692308
rdw_carrosserie_uitvoering_nummerieke_code_carrosserie_uitvoering_numeriek_europees_2,2021-03,2021-03,1,2021-03,1,7.692308,7.692308
rdw_brandstof_emis_co2_gewogen_gecombineerd_wltp_2,2021-03,2021-03,1,2021-03,1,7.692308,7.692308
rdw_brandstof_elektrisch_verbruik_extern_opladen_wltp_1,2021-03,2021-03,1,2021-03,1,7.692308,7.692308
rdw_brandstof_actie_radius_extern_opladen_wltp_1,2021-03,2021-03,1,2021-03,1,7.692308,7.692308
rdw_brandstof_actie_radius_extern_opladen_stad_wltp_1,2021-03,2021-03,1,2021-03,1,7.692308,7.692308

Added in 2021-04
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_assen_spoorbreedte_4,2021-04,2021-04,1,2021-10-20,0,8.333333,0.000000
rdw_assen_technisch_toegestane_maximum_aslast_4,2021-04,2021-04,1,2021-10-20,0,8.333333,0.000000
rdw_assen_weggedrag_code_4,2021-04,2021-04,1,2021-10-20,0,8.333333,0.000000
rdw_ovi_tenaamstellen_mogelijk,2021-04,2021-10-20,12,2021-10-20,12,100.000000,100.000000
rdw_assen_aangedreven_as_4,2021-04,2021-04,1,2021-04,1,8.333333,8.333333
rdw_assen_aantal_assen_4,2021-04,2021-04,1,2021-04,1,8.333333,8.333333
rdw_assen_hefas_4,2021-04,2021-04,1,2021-04,1,8.333333,8.333333
rdw_assen_plaatscode_as_4,2021-04,2021-04,1,2021-04,1,8.333333,8.333333
rdw_assen_wettelijk_toegestane_maximum_aslast_4,2021-04,2021-04,1,2021-04,1,8.333333,8.333333

Added in 2021-05
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_code_toelichting_tellerstandoordeel,2021-05,2021-10-20,11,2021-10-20,11,100.0,100.0
rdw_jaar_laatste_registratie_tellerstand,2021-05,2021-10-20,11,2021-10-20,11,100.0,100.0
rdw_tellerstandoordeel,2021-05,2021-10-20,11,2021-10-20,11,100.0,100.0
rdw_tenaamstellen_mogelijk,2021-05,2021-10-20,11,2021-10-20,11,100.0,100.0

Added in 2021-07-17
by api

,first,last,n,last_filled,n_not_empty,pct_since_first,pct_filled
rdw_motor_uitvoering_brandstof_actieradius_brandstof_extern_oplaadbaar_3_1,2021-07-17,2021-07-17,1,2021-07-17,1,14.285714,14.285714
rdw_motor_uitvoering_brandstof_elektrisch_verbruik_combinatie_3_1,2021-07-17,2021-07-17,1,2021-07-17,1,14.285714,14.285714
rdw_motor_uitvoering_max_vermogen_continu_bovengrens_2,2021-07-17,2021-07-17,1,2021-07-17,1,14.285714,14.285714
rdw_motor_uitvoering_max_vermogen_continu_bovengrens_3,2021-07-17,2021-07-17,1,2021-07-17,1,14.285714,14.285714
rdw_motor_uitvoering_max_vermogen_continu_ondergrens_2,2021-07-17,2021-07-17,1,2021-07-17,1,14.285714,14.285714
rdw_motor_uitvoering_max_vermogen_continu_ondergrens_3,2021-07-17,2021-07-17,1,2021-07-17,1,14.285714,14.285714

- - - -
# Continue with cars only

In [8]:
# select data
car=df[df.LotType == 'Personenauto'].copy()

if VERBOSE > 0:
    # print lots that are cars per auction
    df_ = pd.DataFrame(columns=['year', 'month', 'lot'])
    df_.year = pd.Series(car.index).apply(lambda x: int(x.split('-')[0]))
    df_.month = pd.Series(car.index).apply(lambda x: int(x.split('-')[1]))
    df_.lot = pd.Series(car.index).apply(lambda x: int(x.split('-')[2]))
    display(df_.groupby(['year', 'month']).lot.agg(['min', 'max', 'count']).sort_index())
    
display(car.tail(), metadata={"tags":(TAG_SINGLE, )})

               min     max  count
year month
2017 3        2000    8318    149
     4        2000    7309    133
     5        2200    8025     75
     6        2000    7311    140
     7        2200    8178    106
     8        2001    7304    143
     9        2200    8187    133
     10       2000    7171     95
     11       2200    8305    158
     12       2000    7308    136
2018 1        2200    8170    134
     2        2000    7184    138
     3        2200    8338    186
     4        2000    7336    126
     5        2200    8226    186
     6        2000    7315    166
     7        2200    8311    132
     8        2000    7328    152
     9        2200    8183     89
     10       2000    7319     87
     11       2200    8326    127
     12       2000    7361    133
2019 1        2201    8329    135
     2        2001    7264    176
     3        2200    8318    145
     4        2000    7314    170
     5        2200    8352    158
     6        2201    9158     98
     7        2200    7254    144
     8        2200    8172     96
     9        2200    9269    156
     10       2400    7200    109
     11       2200    8213    125
     12       2200    9061     75
2020 1        2200    7205    126
     2        2200    8238    129
     3        2200    9152     65
     6        2200    7269    160
     7        2200    9271    145
     8        2200    7286    187
     9        2200    8236    111
     10       2200    7266    129
     11       2200    8260    121
     12       2201    7306    168
2021 1        2200    8123    104
     2        2200    7156    129
     3        2200    8189    148
     4        2200    7220    173
     5        2200    8158    126
     6      220006  808316    191
     7      201217  900007    152
     8      260018  812918    143
     9      220009  808919    135
     10     260110  814920    181

# Save file

In [9]:
file_name = r'../data/cars-from-all-auctions.pkl'
if OPBOD:
    file_name = file_name.replace('.pkl', '-opbod.pkl')
    
if (SKIPSAVE==False): #and (not(os.path.isfile(file_name))):
    print(file_name)
    car.to_pickle(file_name)
else:
    print(f'Skip. {file_name} exists or saving is disabled in settings.')

../data/cars-from-all-auctions.pkl

# Write example results to file
based on: https://stackoverflow.com/a/33869154

In [10]:
def pandas_df_to_markdown_table(df):
    fmt = ['-----' for i in range(len(df.columns))]
    df_fmt = pd.DataFrame([fmt], columns=df.columns)
    df_formatted = pd.concat([df_fmt, df])
    return df_formatted.to_csv(sep="|", index=False)

In [11]:
file_name = '../assets/example-table-of-cars.md'

example = car.tail(10).copy()

# trim some long fields
example.rdwinfo = '.. rdw info ..'
example.Raw_text = '.. raw text ..'
example.SupInfo = '.. suplm. info. ..'

# convert to md
try:
    table_text = example.to_markdown()
except ImportError:
    print('Fallback')
    table_text = pandas_df_to_markdown_table(example)

# save
if (SKIPSAVE==False) and (not(os.path.isfile(file_name))):
    with open(file_name,'w') as file:
        file.write(table_text)

    print('A markdown table is available as\n\t{}'.format(file_name))
else:
    print(f'Skip. {file_name} exists or saving is disabled in settings.')
    display(example, metadata={"tags":(TAG_SINGLE, )})

Skip. ../assets/example-table-of-cars.md exists or saving is disabled in settings.

In [12]:
vc = df.Reg.value_counts()
for r in vc[vc > 1].index:
    print(r, vc[r], end=': ')
    if r in ['', 'onbekend']:
        print('')
        continue
    sel_reg = df.Reg==r
    print(' - '.join(list(df.loc[sel_reg, ['ItemBrand', 'ItemType', 'rdw_datum_eerste_afgifte_nederland']].drop_duplicates(ignore_index=True).iloc[0].astype(str))))
    df_ = df.loc[sel_reg, list(df.columns.drop([
    'Raw_text', 'rdwinfo', 'rdw_merk_registratie_datum', 'rdw_merkcode', 'Images',
    ]))].sort_values(by='Reg').T

    
    ix = pd.Series(df_.columns.map(lambda x: pd.to_datetime('/'.join(x.split('-')[:2])))).diff().dt.days.copy()
    ix[0] = 0
    ix=ix.astype(int).astype(str)
    ix[0] = pd.to_datetime('/'.join(df_.columns[0].split('-')[:2])).strftime('%Y/%m')
    
    df_.columns=ix
    
    vc2 = df_.nunique(axis=1)
    if df_.shape[1] > 4:
        print('')
        display(df_.loc[list(vc2[vc2>1].index),:])
    elif df_.shape[1] > 2:
        display(df_.loc[['Price'],:].T)

 1421:
onbekend 36:
26-SL-GN 7: VOLKSWAGEN - passat; variant 4motion tdi 10 - 02/03/2006

,2018/08,212,61,92,92,92,121
LotNr,7145,K1900038110,K1900058172,K1900088117,K1900118158,K2000028219,K2000047103
Price,6700.0,7100.0,6666.0,6541.0,6556.0,4567.0,6666.0
Title,Kavel 7145,Kavel K1900038110,Kavel K1900058172,Kavel K1900088117,Kavel K1900118158,Kavel K2000028219,Kavel K2000047103
LotCat,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen
APKdate,16.01.2019,,,,,,
NAP,isch,onlogisch,onlogisch,onlogisch,onlogisch,onlogisch,onlogisch
no_key,NaN,False,False,False,False,True,True
rdw_TimeStamp_x,20180810,20190310,20190511,20190814,20191111,20200207,20200612
rdw_datum_tenaamstelling,06/07/2018,20180706.0,20180706.0,20180706.0,20180706.0,20180706.0,20180706.0
rdw_datum_eerste_afgifte_nederland,02/03/2006,20060302.0,20060302.0,20060302.0,20060302.0,20060302.0,20060302.0
rdw_datum_eerste_toelating,02/03/2006,20060302.0,20060302.0,20060302.0,20060302.0,20060302.0,20060302.0
rdw_vervaldatum_apk,16/01/2019,20190116.0,20190116.0,20190116.0,20190116.0,20190116.0,20190116.0
rdw_TimeStamp_y,20190615,20190615,20190610,20190814,20191111,20200207,20200612
Source,http://www.domeinenrz.nl/catalogus?=&veilingen...,http://www.domeinenrz.nl/catalogus/verkoop_bij...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...
rdw_brandstof_emissiecode_omschrijving_1,NaN,NaN,Euro 4,Euro 4,Euro 4,4.0,4.0

7-KBG-91 6: VOLVO - v60 plug in hybrid - 21/03/2013

,2018/01,120,245,31,28,61
LotNr,2239,2235,K1900012204,K1900022217,K1900032206,K1900052200
Price,0.0,0.0,0.0,0.0,9783.0,10195.0
Title,Kavel 2239,Kavel 2235,Kavel K1900012204,Kavel K1900022217,Kavel K1900032206,Kavel K1900052200
LotCat,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen
APKdate,04.04.2018,NaN,NaN,,,
diesel,True,NaN,NaN,False,False,False
OdoKM,162608,162.608,162.608,162.608,162.608,162.608
OdoMLS,nan,NaN,NaN,,,
NAP,logisch,isch,logisch,logisch,logisch,logisch
ForeignReg,Zonder,NaN,NaN,,,
no_cvo,NaN,NaN,NaN,True,False,False
Note,False,Kavel is vervallen,False,False,False,False
rdw_TimeStamp_x,20180824,20180824,20190111,20190208,20190310,20190511
rdw_datum_tenaamstelling,15/12/2017,15/12/2017,15/12/2017,15/12/2017,20171215.0,20171215.0
rdw_datum_eerste_afgifte_nederland,21/03/2013,21/03/2013,21/03/2013,21/03/2013,20130321.0,20130321.0
rdw_datum_eerste_toelating,21/03/2013,21/03/2013,21/03/2013,21/03/2013,20130321.0,20130321.0
rdw_vervaldatum_apk,04/04/2018,04/04/2018,04/04/2018,04/04/2018,20180404.0,20180404.0
rdw_TimeStamp_y,20190619,20190615,20190615,20190615,20190615,20190610
Source,http://www.domeinenrz.nl/catalogus?=&veilingen...,http://www.domeinenrz.nl/catalogus?=&meerfotos...,http://www.domeinenrz.nl/catalogus/klik_hier_v...,http://www.domeinenrz.nl/catalogus/verkoop_bij...,http://www.domeinenrz.nl/catalogus/verkoop_bij...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...

18-JP-JX 6: MERCEDES-BENZ - c 200 kompressor; sportcoupe - 20020625.0

,2019/09,61,61,152,92,122
LotNr,K1900099158,K1900118176,K2000017120,K2000047123,K2000098126,K2100018034
Price,0.0,0.0,1112.0,2222.0,1511.0,1402.0
Title,Kavel K1900099158,Kavel K1900118176,Kavel K2000017120,Kavel K2000047123,Kavel K2000098126,Kavel K2100018034
disclaim1,True,True,True,True,False,False
disclaim2,True,True,True,True,False,False
rdw_TimeStamp_x,20190907,20191111,20200112,20200612,20200911,20210110
rdw_TimeStamp_y,20190907,20191111,20200112,20200612,20200911,20210110
N_images,3.0,3.0,3.0,3.0,9.0,9.0
Source,http://www.domeinenrz.nl/catalogi/verkoop_bij_...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...,http://www.domeinenrz.nl/catalogi/verkoop_bij_...,http://verkoop.domeinenrz.nl/verkoop_bij_insch...,http://verkoop.domeinenrz.nl/verkoop_bij_insch...
rdw_brandstof_emissiecode_omschrijving_1,Euro 4,Euro 4,4,4.0,4,4

64-PF-HH 5: VOLVO - v70; d5 aut. - 19/05/2004

,2018/12,31,31,28,31
LotNr,K1800127187,K1900018210,K1900027256,K1900038199,K1900047207
Price,0.0,0.0,0.0,0.0,1111.0
Title,Kavel K1800127187,Kavel K1900018210,Kavel K1900027256,Kavel K1900038199,Kavel K1900047207
LotCat,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen
ItemType,v70; d5 aut.,v70; d5 aut.,v70; d5,v70; d5 aut.,v70; d5 aut.
rdw_wam_verzekerd,Nee,Nee,Nee,Nee,Ja
rdw_TimeStamp_x,20181208,20190111,20190208,20190310,20190412
rdw_datum_tenaamstelling,06/11/2018,06/11/2018,06/11/2018,20181106.0,20190409.0
rdw_datum_eerste_afgifte_nederland,19/05/2004,19/05/2004,19/05/2004,20040519.0,20040519.0
rdw_datum_eerste_toelating,19/05/2004,19/05/2004,19/05/2004,20040519.0,20040519.0
rdw_vervaldatum_apk,20/05/2018,20/05/2018,20/05/2018,20180520.0,20180520.0
rdw_TimeStamp_y,20190615,20190615,20190615,20190615,20190611
Source,http://www.domeinenrz.nl/catalogus/klik_hier_v...,http://www.domeinenrz.nl/catalogus/klik_hier_v...,http://www.domeinenrz.nl/catalogus/verkoop_bij...,http://www.domeinenrz.nl/catalogus/verkoop_bij...,http://www.domeinenrz.nl/catalogus/verkoop_bij...

D-412-TL 5: SYM - xs50qt - 03/09/2010

,2017/11,30,31,31,28
LotNr,1832,1864,1838,1830,1868
Price,0.0,0.0,0.0,0.0,117.0
Title,Kavel 1832,Kavel 1864,Kavel 1838,Kavel 1830,Kavel 1868
Note,False,False,False,False,False
rdw_TimeStamp_x,20180825,20180825,20180824,20180824,20180824
Source,http://www.domeinenrz.nl/catalogus?=&veilingen...,http://www.domeinenrz.nl/catalogus?=&veilingen...,http://www.domeinenrz.nl/catalogus?=&veilingen...,http://www.domeinenrz.nl/catalogus?=&veilingen...,http://www.domeinenrz.nl/catalogus?=&veilingen...

KX-663-L 5: VOLKSWAGEN - eos - 13/12/2016

,2018/04,30,31,30,31
LotNr,7173,8192,7221,8171,7172
Price,0.0,0.0,0.0,0.0,3631.0
Title,Kavel 7173,Kavel 8192,Kavel 7221,Kavel 8171,Kavel 7172
APKdate,17.05.2018,17.5.2018,NaN,NaN,NaN
OdoKM,129688,NaN,129.688,129.688,NaN
NAP,onlogisch,isch,NaN,isch,NaN
Note,False,False,False,False,False
rdw_TimeStamp_x,20180824,20180824,20180824,20180713,20180810
rdw_datum_tenaamstelling,14/08/2018,14/08/2018,14/08/2018,27/02/2018,27/02/2018
rdw_vervaldatum_apk,21/08/2019,21/08/2019,21/08/2019,17/05/2018,17/05/2018
rdw_TimeStamp_y,20190619,20190615,20190615,20190615,20190615
Source,http://www.domeinenrz.nl/catalogus?=&veilingen...,http://www.domeinenrz.nl/catalogus?=&meerfotos...,http://www.domeinenrz.nl/catalogus?=&veilingen...,http://www.domeinenrz.nl/catalogus?=&meerfotos...,http://www.domeinenrz.nl/catalogus?=&veilingen...

72-TDH-5 5: VAN HOOL - 815 - 20120117.0

,2020/12,31,90,91,92
LotNr,K2000124003,K2100014002,K2100049005,K2100079000,K2100204102
Price,0.0,6000.0,6543.0,1777.0,4132.0
Title,Kavel K2000124003,Kavel K2100014002,Kavel K2100049005,Kavel K2100079000,Kavel K2100204102
LotType,Personenauto (Kampeerwagen/camper),Personenauto (Kampeerwagen/camper),Kampeerwagen / camper,Personenauto,Personenauto (Touringcar omgebouwd naar camper)
SupInfo,"\nVoorzien van keuken, 4 slaapplaatsen, toilet...","\nVoorzien van keuken, 4 slaapplaatsen,\ntoile...",\nTouringcar omgebouwd naar camper\nVoorzien v...,\nTouringcar welke is omgebouwd naar een campe...,\nTouringcar welke is omgebouwd naar een campe...
rdw_TimeStamp_x,20201211,20210110,20210409,20210709,20211023
rdw_datum_tenaamstelling,20201021.0,20201021.0,20201021.0,20210608.0,20210827.0
N_images,10.0,10.0,20.0,33.0,47.0
Source,http://verkoop.domeinenrz.nl/verkoop_bij_insch...,http://verkoop.domeinenrz.nl/verkoop_bij_insch...,http://verkoop.domeinenrz.nl/verkoop_bij_insch...,http://verkoop.domeinenrz.nl/verkoop_bij_insch...,http://verkoop.domeinenrz.nl/verkoop_bij_insch...
rdw_brandstof_emissiecode_omschrijving_1,1,1,1,1.0,1
lot_counter,NaN,4002.0,9005.0,9000.0,4102.0
rdw_ovi_private_owners,NaN,2.0,2.0,3.0,3.0
rdw_ovi_owners,NaN,2.0,2.0,3.0,3.0
rdw_LotType,NaN,NaN,Kampeerwagen / camper,Personenauto,Personenauto (Touringcar omgebouwd naar camper)
rdw_ovi_eigenaren,NaN,NaN,2 / 0,3 / 0,3 / 0
rdw_ovi_datum_aanvang_tenaamstelling,NaN,NaN,21-10-2020,08-06-2021,27-08-2021
rdw_ovi_tijd_aanvang_tenaamstelling,NaN,NaN,11:20,07:11,14:31
rdw_ovi_tellerstand_toelichting,NaN,NaN,De RDW geeft geen oordeel over de reeks teller...,De RDW geeft geen oordeel over de reeks teller...,Wij geven geen oordeel over de reeks tellersta...
rdw_ovi_tellerstand_datum,NaN,NaN,2020,2021,2021

9-TFV-51 5: VOLVO - v60 plug in hybrid - 15/10/2014

,2018/05,184,30,62,28
LotNr,2219,K1800112200,K1800122226,K1900022216,K1900032207
Price,13500.0,0.0,13100.0,0.0,10076.0
Title,Kavel 2219,Kavel K1800112200,Kavel K1800122226,Kavel K1900022216,Kavel K1900032207
LotCat,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen,Voertuigen en onderdelen
rdw_TimeStamp_x,20180824,20181109,20181208,20190208,20190310
rdw_datum_tenaamstelling,20/04/2018,20/04/2018,20/04/2018,20/04/2018,20180420.0
rdw_datum_eerste_afgifte_nederland,15/10/2014,15/10/2014,15/10/2014,15/10/2014,20141015.0
rdw_datum_eerste_toelating,24/02/2013,24/02/2013,24/02/2013,24/02/2013,20130224.0
rdw_vervaldatum_apk,28/02/2018,28/02/2018,28/02/2018,28/02/2018,20180228.0
Source,http://www.domeinenrz.nl/catalogus?=&meerfotos...,http://www.domeinenrz.nl/catalogus/klik_hier_v...,http://www.domeinenrz.nl/catalogus/klik_hier_v...,http://www.domeinenrz.nl/catalogus/verkoop_bij...,http://www.domeinenrz.nl/catalogus/verkoop_bij...

83-MG-RS 4: PIAGGIO - onbekend - 12/05/2016

          Price
2017/12  2017.0
62       2599.0
181      2012.0
1065     1777.0

ONBEKEND 4: ONBEKEND - zeilboot - nan

        Price
2019/12   0.0
31        0.0
31        0.0
29        0.0

45-THX-9 4: AUDI - audi a8 - 20120202.0

           Price
2020/06      0.0
61           0.0
31       22500.0
61       12300.0

90-SVD-9 4: VOLKSWAGEN - polo - 30/11/2011

          Price
2018/04  3398.0
61       3234.0
61       4078.0
61       3222.0

KV-20-89 4: FORD TRANSIT - transit - nan

          Price
2019/05  1466.0
123       944.0
61       1299.0
92       1372.0

01-RSH-3 4: RENAULT - twingo - 16/07/2011

          Price
2018/09  1645.0
61       1665.0
61       1300.0
59       1234.0

73-GKF-5 4: MERCEDES-BENZ - sprinter - 20080721.0

          Price
2020/07     0.0
31          0.0
31       2800.0
91       2188.0

F-085-PF 4: AGM - joy - 24/05/2013

          Price
2017/11   899.0
61        509.0
59       1001.0
61        444.0

KV-274-S 4: OPEL - corsa - 27/12/2016

          Price
2017/06  1791.0
518      2790.0
61       1345.0
59       1889.0

06-SG-DT 4: MERCEDES-BENZ - s 500 - 20060103.0

          Price
2019/10  7222.0
61          0.0
31          0.0
31       6300.0

70-PB-VX 4: FIAT - fiat stilo; 1.6 16v - 07/12/2004

          Price
2018/11     0.0
30       1250.0
90        800.0
61        156.0

17-XB-ZR 4: MERCEDES-BENZ - 380 se - 28/03/2007

          Price
2018/06     0.0
30          0.0
31          0.0
31       1089.0

KV-21-87 4: MERCEDES-BENZ - vito - nan

          Price
2018/11     0.0
61          0.0
31          0.0
28       5388.0

DHZ-34-N 4: TYM - sx-50 - 20160929.0

         Price
2019/11    0.0
30         0.0
31         0.0
31       357.0

JG-114-L 4: TESLA MOTORS - model s - 23/03/2016

           Price
2018/05      0.0
184          0.0
30           0.0
31       48500.0

47-RRB-4 4: MERCEDES-BENZ - 230 te u9 - 29/06/2011

          Price
2018/07     0.0
31          0.0
31          0.0
30       1278.0

DBH-81-S 4: SYM - xs50qt - 20160607.0

        Price
2021/07   0.0
31        0.0
31        0.0
30        0.0

KA-40-02 4: NIDO - Stratos B11-24 Paln - nan

           Price
2018/07      0.0
62           0.0
30       13010.0
61       10055.0

34-SB-NN 4: VOLVO - xc90; d5 geartronic executive - 20051108.0

          Price
2020/07  2999.0
62          0.0
61          0.0
30       2676.0

DSL-69-P 4: SYM - orbit - 20190906.0

         Price
2021/06    0.0
30         0.0
31         0.0
31       150.0

BZ-VG-61 4: Type ml120e22/p eev -  - 20120404.0

          Price
2020/10     0.0
61          0.0
31          0.0
90       7601.0

92-ZR-KN 4: VOLKSWAGEN - caddy life - 02/05/2008

          Price
2018/10     0.0
273         0.0
31          0.0
31       1356.0

50-JT-TH 4: VOLKSWAGEN - passat; v5 125 kW - 27/08/2002

          Price
2017/08     NaN
31       1049.0
61        840.0
61        775.0

37-FG-FD 4: MERCEDES-BENZ - clk 230 kompressor - 07/03/2000

          Price
2018/06     0.0
30          0.0
31          0.0
31       3685.0

62-XL-SR 4: FIAT - fiat ulysse - 09/07/2008

         Price
2017/08    NaN
61         NaN
31         0.0
30       876.0

9-SBT-88 4: ROLLS ROYCE - rr01 phantom - 03/09/2013

           Price
2018/11      0.0
120          0.0
641          0.0
151      67601.0

FH-998-F 4: PIAGGIO - c44 - 13/04/2007

         Price
2017/11  360.0
61       178.0
59       127.0
61       300.0

V-718-FB 4: FORD - ford transit - 21/02/2017

          Price
2019/01     0.0
31          0.0
28          0.0
31       1960.0

JD-516-G 4: OPEL - corsa-e - 20160216.0

          Price
2021/01  6132.0
90       5950.0
61       5556.0
61       5666.0

44-HRN-6 4: DODGE - journey - 05/02/2009

          Price
2017/10  4500.0
31       4250.0
92       3501.0
59       3600.0

DGT-92-B 4: BERINI - m58 - 20160621.0

         Price
2021/01    0.0
31       279.0
120        0.0
61       150.0

DZS-85-G 4: RIESE UND MUELLER - superdelite - 20200605.0

          Price
2021/01     0.0
31          0.0
28          0.0
31       5011.0

74-GBS-2 3: SKODA - fabia - 20080528.0

          Price
2021/02  2111.0
89       1968.0
61       1000.0

47-FD-RS 3: MERCEDES-BENZ - s 500; sedan - 18/02/2000

        Price
2018/05   0.0
31        0.0
30        0.0

62-GKP-1 3: CHEVROLET - suburban - 11/07/2008

          Price
2018/09     0.0
30          0.0
31       5028.0

85-SPR-9 3: MERCEDES-BENZ - ml 280cdi 4matic - 20/04/2009

          Price
2018/05     0.0
31          0.0
30       8700.0

09-MH-JN 3: DUCATI - hypermotard 939 / hypermotard - 14/03/2017

           Price
2018/05      0.0
31           0.0
30       10227.0

75-TF-FJ 3: VOLKSWAGEN - passat - 20060728.0

          Price
2019/12  1888.0
91       1402.0
153      1412.0

01-PJ-TP 3: VOLKSWAGEN - golf; tdi 77 kw - 23/07/2004

          Price
2018/11  1999.0
61       1787.0
59       1465.0

BJ-70-ZL 3: SCANIA - PM4X2 - 19840725.0

          Price
2021/02     0.0
28          0.0
31       2619.0

F-405-GD 3: PIAGGIO - c38 - 02/11/2013

          Price
2017/08     NaN
31          NaN
30       1788.0

72-XP-GB 3: VOLKSWAGEN - golf; r32 4motion 184 kw - 07/08/2007

          Price
2017/11     0.0
120         0.0
122      9012.0

FX-448-R 3: JIAJUE - jj50qt-21 - 09/10/2008

         Price
2017/11    0.0
30         0.0
31       130.0

TZ-394-P 3: OPEL - insignia grand sport - 20181116.0

           Price
2021/03      0.0
31           0.0
30       13456.0

BZ-XH-15 3: Autoambulance - atego 815 - 15/05/2012

          Price
2017/05     0.0
31          NaN
30       6740.0

MS-VL-24 3: SUZUKI - gsx650f - 07/03/2008

          Price
2017/06     NaN
30          NaN
31       2706.0

DFN-38-H 3: PIAGGIO - vespa sprint - 28/11/2015

          Price
2018/01  2155.0
59       2000.0
61       1951.0

ZG-816-J 3: MERCEDES-BENZ - a 180 cdi - 20190516.0

          Price
2021/07     0.0
31          0.0
61       2345.0

7-XSL-49 3: HONDA - accord sedan - 16/10/2014

         Price
2018/10    0.0
31         0.0
30       406.0

01-43-YT 3: RAPSODY - D6-330A-B - nan

            Price
2018/11       0.0
30            0.0
90       160016.0

KS-603-T 3: VOLKSWAGEN - fox - 17/11/2016

          Price
2017/12     0.0
31          0.0
31       2022.0

F-201-TX 3: ZNEN - zn50qt-e.25 - 08/05/2014

         Price
2018/01    0.0
31         0.0
28       207.0

MG-RT-11 3: YAMAHA - rj03 - 12/07/2002

         Price
2017/10    NaN
31         0.0
30       800.0

D-844-FF 3: RIEJU - yh50qt - 20090701.0

         Price
2019/03  100.0
61         0.0
31       175.0

07-PH-HZ 3: AUDI - audi a6; 125 kw aut - 20040624.0

          Price
2020/12  1656.0
90          0.0
31        980.0

05-NH-SH 3: BMW - 7er reihe; 745i aut. - 20031008.0

          Price
2021/01     0.0
31          0.0
28       2336.0

TK-801-B 3: BMW - 318d xdrive - 20180816.0

           Price
2019/03      0.0
31           0.0
30       13005.0

01-FR-NG 3: BMW - z reihe; z3 roadster 1.8 - 20000602.0

          Price
2021/01     0.0
31          0.0
28       5128.0

H-147-KN 3: JAGUAR - jaguar xf sportbrake - 20200221.0

           Price
2021/04      0.0
30           0.0
31       11500.0

MT-GN-16 3: HARLEY DAVIDSON - xl 1200 roadster - 27/05/2008

          Price
2017/03     0.0
61          0.0
31       5018.0

94-BR-SB 3: FORD - transit 330l fd dc 125 mr 4.54 - 05/01/2005

          Price
2017/07  1551.0
153      1600.0
62       1008.0

KN-677-K 3: VOLKSWAGEN - touran - 20161219.0

          Price
2020/09     0.0
303      8156.0
62       7826.0

31-TD-PN 3: RENAULT - megane scenic - 04/08/2006

         Price
2017/08    NaN
61       784.0
61       921.0

F-729-FR 3: PIAGGIO - c38 - 20120207.0

          Price
2020/03  2548.0
122      1118.0
92        930.0

6-XGL-09 3: VOLKSWAGEN - golf - 18/07/2014

          Price
2018/05     0.0
31       9550.0
61       7617.0

02-RS-KT 3: AUDI - audi a3; 110 kw - 04/08/2005

         Price
2018/12    0.0
31         0.0
31       434.0

KV-40-31 3: FORD - transit - nan

          Price
2018/07     0.0
62          0.0
61       2111.0

86-GB-TP 3: MERCEDES-BENZ - s 400 cdi; sedan lang - 12/09/2000

         Price
2018/12    0.0
31         0.0
31       888.0

NR-543-N 3: AUDI - a4 limousine - 20170410.0

           Price
2020/09      0.0
303      20111.0
62       20100.0

RL-PL-97 3: AUDI - a4 110 kw aut - 17/04/1997

         Price
2017/11    0.0
30         0.0
31       234.0

31-JSP-9 3: HONDA - cr-v - 20090814.0

          Price
2021/03  5444.0
92          0.0
30       4250.0

71-XSF-4 3: BMW - 7 serie - 20120828.0

          Price
2020/02     0.0
29          0.0
92       9155.0

69-NLL-5 3: SEAT - leon; 2.0 tdi 16v 100 kw au az - 29/09/2010

          Price
2018/09     0.0
30          0.0
31       2003.0

D-981-PF 3: PIAGGIO - c25 - 05/11/2010

         Price
2018/01  266.0
59       401.0
61       402.0

57-PG-LX 3: SAAB - saab 9-3; sport sedan 2.0 t - 10/06/2004

          Price
2018/05     0.0
31          0.0
30       1777.0

OV-64-27 3: EVER - vh 10 - 19761220.0

          Price
2019/08     0.0
31       2177.0
91        950.0

48-PX-TF 3: VOLVO - v50; t5 - 05/01/2005

          Price
2018/12     0.0
31          0.0
31       1100.0

BL-JD-67 3: VOLVO - fl611 4x2 fat4.1 bat7.2 gvw11 - 19/11/2001

          Price
2017/12     0.0
62          0.0
365      1775.0

KX-500-S 3: VOLKSWAGEN - scirocco - 15/12/2016

           Price
2018/05      0.0
31           0.0
30       11252.0

47-BG-TG 3: FORD - transit 300m 90 mr 4,63 - nan

         Price
2017/08    NaN
31         NaN
30       786.0

7-TFP-18 3: Quad - scrambler xp850 - 18/01/2014

          Price
2017/05     0.0
641         0.0
89       5298.0

J-588-GR 3: AUDI - s8 plus - 20200727.0

        Price
2021/03   0.0
31        0.0
30        0.0

8-KTL-20 3: VOLKSWAGEN - passat - 20130723.0

          Price
2019/11     0.0
517         0.0
30       6064.0

MY-92-JS 3: HONDA - cb500-25kw - 02/08/1997

         Price
2017/11    0.0
30         0.0
31       483.0

F-915-LS 3: YAMAHA - aerox - 03/04/2013

         Price
2017/12    0.0
31       698.0
59       677.0

02-PV-JZ 3: VOLVO - xc70; d5 awd geartronic - 20050104.0

         Price
2020/10    0.0
31         0.0
30       955.0

3-KBD-62 3: AUDI - audi s6 - 05/03/2013

           Price
2018/07      0.0
31           0.0
31       11653.0

02-BS-DP 3: FORD TRANSIT - transit 300s van 90 lr 4.63 - 20050107.0

          Price
2021/07     0.0
31          0.0
61       1426.0

15-ND-XB 3: LANCIA - lancia phedra; 3.0 v6 - 20030808.0

         Price
2020/03    0.0
122      566.0
62       111.0

49-HG-JF 3: MERCEDES-BENZ - c 320; sedan - 28/06/2001

          Price
2017/07     NaN
31          NaN
61       2226.0

02-17-YK 3: JOKER - coaster 470 - nan

          Price
2018/11  2000.0
92          0.0
59       2315.0

F-517-KG 3: PIAGGIO - c38 - 07/01/2013

          Price
2017/11     0.0
30          0.0
31       1008.0

46-PB-TF 3: VOLVO - v40; 2.0 - 27/04/2004

         Price
2018/06    0.0
30         0.0
31       546.0

76-PL-ZZ 3: CHRYSLER - 300m; 300m 2,7i v6 - 30/08/2004

         Price
2018/07    0.0
31         0.0
31       307.0

1-XRG-67 3: PEUGEOT - 308 - 10/10/2014

          Price
2018/01  7777.0
120         0.0
276      5201.0

F-494-RB 3: DERBI - boulevard 50 - 20130725.0

         Price
2019/09    0.0
30         0.0
31       180.0

WD-VN-48 3: SARIS - pk - 20090224.0

          Price
2021/03     0.0
31          0.0
30       2450.0

SF-JD-27 3: VOLVO - v40; 1.8 - nan

         Price
2017/06    NaN
30         NaN
31       177.0

GX-495-Z 3: AUDI - audi s4 - 20150910.0

           Price
2019/12      0.0
31           0.0
31       10555.0

WJ-89-JD 3: HOMECAR - 36 - 19920915.0

          Price
2021/04     0.0
30          0.0
31       1444.0

24-LDX-8 3: AUDI - audi q7 - 31/03/2010

          Price
2018/08     0.0
31          0.0
30       8100.0

10-BBD-3 3: SCANIA - r 420 a 4x2 - 28/08/2012

          Price
2018/03     0.0
31          0.0
61       5668.0

DJH-97-H 3: PIAGGIO - vespa sprint - 26/01/2017

           Price
2018/06  16789.0
61        2399.0
1157      1751.0

D-685-DZ 3: PIAGGIO - c38 - 20090429.0

         Price
2020/01    0.0
31         0.0
29       102.0

VL-704-F 3: MERCEDES-BENZ - sprinter - 20150206.0

           Price
2021/02      0.0
28           0.0
31       10070.0

LM-90-65 3: PEUGEOT - partner - nan

          Price
2018/11  1465.0
61          0.0
31       1358.0

BJ-RV-21 3: MERCEDES-BENZ - atego 817 - 16/11/2000

          Price
2018/02     0.0
28          0.0
31       1970.0

DTS-10-X 3: SENZO - senzo riva lux - 20190517.0

         Price
2021/04  850.0
61         0.0
92       443.0

PV-710-D 3: AUDI - a5 - 20170922.0

           Price
2020/10      0.0
31           0.0
30       11809.0

11-SR-XV 3: BMW - 5er reihe; 530xi sedan aut. - 21/04/2006

          Price
2017/08     NaN
31       7000.0
91       5250.0

GB-671-N 3: VOLKSWAGEN - tiguan - 20150602.0

           Price
2020/06      0.0
61           0.0
31       16021.0

MG-ZR-33 3: HONDA - cbr 600 f - 23/10/2002

         Price
2017/12    0.0
31         0.0
31       825.0

AE-89-17 3: VOLKSWAGEN - 181 - 05/10/1999

          Price
2017/03     0.0
31          0.0
30       5000.0

02-SX-KS 3: VOLKSWAGEN - polo - 20060620.0

          Price
2021/04     0.0
30          0.0
31       1525.0

ZF-662-V 3: FERRARI - 599 - nan

           Price
2020/01      0.0
31           0.0
29       78410.0

28-TR-SJ 3: VOLKSWAGEN - golf plus - 20070116.0

          Price
2019/10  1432.0
92       1470.0
152      1650.0

98-RB-XG 3: MERCEDES-BENZ - clk 200 kompressor; coupe - 20050216.0

          Price
2021/03     0.0
31          0.0
30       3189.0

55-XN-SL 3: ALFA ROMEO - alfa romeo 156 sport wagon; - 31/07/2007

          Price
2017/06  2009.0
61          NaN
61       1095.0

1-KJP-99 3: YAMAHA - yamaha 700rt - 20130501.0

          Price
2021/06     0.0
61          0.0
31       5250.0

45-TJ-JL 3: NISSAN - nissan primera; 2.0 estate - 20060928.0

         Price
2020/12    0.0
31         0.0
31       452.0

ZR-566-Z 3: OPEL - astra sports tourer - 20190717.0

          Price
2021/07     0.0
31          0.0
61       4523.0

1-VJZ-25 3: PEUGEOT - partner 120 l1 1.6hdif 66kw - - 30/09/2010

          Price
2017/08     NaN
31          NaN
30       3512.0

71-RFP-9 3: VOLKSWAGEN - golf - 11/05/2011

          Price
2018/08     0.0
365         0.0
31       5766.0

52-TD-GH 3: OPEL - astra twin top - 20060706.0

          Price
2020/12     0.0
31          0.0
31       1810.0

95-LB-DH 3: AUDI - 8d audi a4; avant 20v 9 - 20021029.0

         Price
2019/10    0.0
31       250.0
92       226.0

48-FRG-4 3: PIAGGIO - c38 - 05/06/2006

         Price
2018/12    0.0
31         0.0
31       255.0

68-RD-RP 3: AUDI - audi a6; quattro 188 kw aut - 18/02/2005

          Price
2017/09     NaN
30       4800.0
61       4409.0

NX-137-G 3: BMW - 3er reihe - 14/02/2018

          Price
2017/12     0.0
31          0.0
31       6678.0

XL-787-X 3: LAND ROVER - range rover evoque - 20190201.0

           Price
2020/08  14010.0
92           0.0
30       16890.0

DDX-58-F 3: PIAGGIO - vespa primavera - 20150828.0

          Price
2021/06     0.0
61        899.0
31       1250.0

97-TDD-4 3: VOLKSWAGEN - polo - 06/01/2012

           Price
2017/09      NaN
456          0.0
31       11565.0

F-564-VL 3: PIAGGIO - vespa sprint - 20140718.0

          Price
2020/10  1700.0
61       1750.0
62       1750.0

LM-90-68 3: PEUGEOT - partner - nan

          Price
2018/11     0.0
61          0.0
31       1150.0

14-TNV-9 3: MERCEDES-BENZ - e 350 cdi - 20120314.0

          Price
2021/01     0.0
31          0.0
28       8111.0

53-FV-LL 3: TOYOTA - toyota yaris; 1.0 16v vvti 3-d - 20000719.0

         Price
2019/09    0.0
61         0.0
61       350.0

BV-XS-15 3: DAF - ft xf 105 - 06/05/2009

           Price
2019/02      0.0
59       24590.0
214          0.0

XJ-614-X 3: PEUGEOT - 207 - 20190109.0

          Price
2019/07   936.0
92       1375.0
92       1121.0

HD-PD-93 3: TOYOTA - supra 3.0i - 29/02/1996

          Price
2018/05     0.0
31          0.0
30       2188.0

64-ZD-JP 3: VOLVO - v70 - 03/01/2008

          Price
2018/09     0.0
30          0.0
31       3111.0

61-MH-SP 3: YAMAHA - xp530d-a - 20170610.0

         Price
2020/01    0.0
31         0.0
29       600.0

D-133-TH 3: PIAGGIO - c38 - 31/08/2010

         Price
2018/04    0.0
30         0.0
153      767.0

12-LX-BS 3: AUDI - audi a3; tdi 103 kw - 06/06/2003

          Price
2017/11  2200.0
61       1454.0
59       1356.0

BT-LG-63 3: DAF - fa lf45g12 - 08/11/2007

          Price
2017/09     NaN
61          0.0
61       3527.0

01-NPL-3 3: FIAT - fiat punto - 20101027.0

          Price
2021/05     0.0
31          0.0
30       1149.0

JL-160-R 3: AUDI - a4 limousine - 26/04/2016

           Price
2017/12      0.0
121          0.0
30       10356.0

94-DL-FL 3: VOLVO - s80; 2.5 d - 17/09/1999

         Price
2018/05    0.0
31         0.0
30       638.0

ZS-00-02 3: NIDO - n90 - nan

          Price
2018/07     0.0
184         0.0
31       1889.0

1-VTZ-52 3: MERCEDES-BENZ - viano - 20120320.0

        Price
2020/10   0.0
31        0.0
30        0.0

92-JVX-4 3: AUDI - audi a4; avant quattro v6 tdi - 20100222.0

          Price
2019/12     0.0
62       3225.0
121      1333.0

DHX-24-B 3: BTC - riva - 20160927.0

         Price
2020/10    0.0
335      225.0
30         0.0

ND-VX-77 3: VOLKSWAGEN - golf vr6 128 kw aut e2 - 26/10/1995

          Price
2018/09  1521.0
61          0.0
30       1600.0

G-537-TT 3: VOLKSWAGEN - polo - 20191129.0

           Price
2021/03  21233.0
61       17500.0
31       19565.0

52-GF-LK 3: VOLKSWAGEN - golf; 4motion v6 150 kw - 20001006.0

          Price
2020/07  2000.0
62       2018.0
212      1888.0

25-PSL-8 3: JAGUAR - jaguar xf - 21/03/2011

           Price
2017/11  15000.0
61           0.0
31        8501.0

TT-NB-71 3: VOLVO - c70; 2.5 t - 23/07/1998

         Price
2018/09    0.0
30         0.0
31       977.0

XX-NR-21 3: VOLKSWAGEN - golf; 20v 110 kw - 12/03/1999

         Price
2018/04  509.0
61       565.0
61       555.0

DKJ-16-N 3: PIAGGIO - vespa primavera - 01/06/2017

          Price
2018/12     0.0
31          0.0
31       2000.0

82-NVZ-7 3: VOLKSWAGEN - polo - 20101203.0

          Price
2021/03  3000.0
92       2777.0
61       2339.0

JX-050-X 3: BMW - 535d xdrive - 20160630.0

           Price
2019/04      0.0
214          0.0
92       18609.0

30-LK-SP 3: ALFA ROMEO - alfa romeo 156 sportwagon; 1.8 - 07/02/2003

         Price
2017/03    0.0
31         0.0
61       366.0

F-227-FB 3: PIAGGIO - c38 - 28/09/2011

          Price
2018/03  1008.0
92       1777.0
61       1301.0

99-KJX-5 3: VOLKSWAGEN - touareg - 05/01/2010

          Price
2018/04     0.0
30          0.0
31       6702.0

GB-146-S 3: AUDI - audi a5 - 07/04/2015

          Price
2018/07     0.0
31          0.0
31       6666.0

D-500-LZ 3: PIAGGIO - c38 - 12/03/2010

          Price
2018/08  1100.0
61          0.0
31        900.0

66-36-HP 3: VOLKSWAGEN - 113021 - 24/04/1969

          Price
2017/03     0.0
31          0.0
30       2810.0

20-WF-ZR 3: CHEVAL LIBERTE - cargo 1600 - 03/05/2010

          Price
2019/01     0.0
31          0.0
59       1750.0

SF-642-Z 3: TOYOTA - toyota celica - 20180329.0

          Price
2021/02     0.0
28          0.0
31       2112.0

32-LH-XT 3: MAZDA - mazda 6; sportbreak 2.0 - 14/01/2003

         Price
2017/07    NaN
31         NaN
61       501.0

39-BN-LT 3: HYUNDAI - h-1 h200 dc 2.5 tdi - 07/05/2004

          Price
2018/02  1256.0
59        404.0
61        546.0

8-TDG-30 3: VOLKSWAGEN - golf - 20140117.0

          Price
2020/11  7501.0
92          0.0
28       7800.0

D-084-FS 3: PEUGEOT - vclic - 07/06/2013

         Price
2017/11  555.0
61       567.0
59       423.0

VK-913-X 3: RENAULT - trafic - 20141126.0

          Price
2020/11     0.0
30          0.0
31       7611.0

63-SV-JH 3: AUDI - 4f - 20060623.0

          Price
2020/02     0.0
121         0.0
61       1965.0

86-LV-JH 3: ALFA ROMEO - alfa romeo 147; 5 drs. 1.6 88 - 28/05/2003

         Price
2018/01  677.0
59         0.0
31       486.0

18-GN-KS 3: JAGUAR CARS - jaguar s-type 3.0 v6 - 18/01/2001

          Price
2017/08     NaN
31          NaN
30       1008.0

32-PZV-3 3: VOLVO - v70 - 20110413.0

          Price
2019/11     0.0
61          0.0
60       2777.0

60-WD-XK 3: CAPRON - c 450 - 26/06/2009

          Price
2018/02     0.0
28          0.0
31       6500.0

NV-750-F 3: VOLKSWAGEN - up - 20171107.0

          Price
2021/04  3800.0
61          0.0
30       1930.0

F-288-VH 3: AGM - new flash - 20140527.0

         Price
2019/10    0.0
31         0.0
30       179.0

PL-472-F 3: BMW - 7er reihe - 20170719.0

         Price
2019/10    0.0
61         0.0
62       886.0

97-PV-NG 3: VOLKSWAGEN - golf; tdi 103 kw - 04/01/2005

          Price
2018/02  2453.0
59       1897.0
61       1899.0

94-SK-DK 3: RENAULT - laguna - 03/02/2006

          Price
2018/09     0.0
30          0.0
31       1006.0

86-TH-LG 3: MITSUBISHI - mitsubishi outlander; 2.4 mive - 15/09/2006

          Price
2018/12     0.0
243         0.0
31       1855.0

VL-747-H 3: VOLKSWAGEN - transporter - 20150416.0

          Price
2020/08     0.0
31          0.0
61       7577.0

DFR-37-K 3: KILLERBEE - vxl - 20170422.0

         Price
2019/07  550.0
62         0.0
30       138.0

WZ-52-BD 3: TABBERT - 215562 - 01/08/2000

          Price
2018/02     0.0
28          0.0
31       3156.0

78-WT-RX 3: TABBERT - rossini 620dm - 20190430.0

           Price
2020/08      0.0
31           0.0
30       18205.0

31-SXX-9 3: SEAT - ibiza - 20120104.0

          Price
2019/12     0.0
31          0.0
31       1751.0

VT-504-K 3: MERCEDES-BENZ - sprinter - 20160208.0

          Price
2019/09     0.0
61          0.0
61       5575.0

JB-598-D 3: MERCEDES-BENZ - b 180 ngt - 26/01/2016

        Price
2017/06   NaN
61        NaN
31        NaN

24-JS-BV 3: PORSCHE - 928 gts automatic u9 - 20020720.0

        Price
2020/12   0.0
31        0.0
31        0.0

BL-ZR-22 3: MAN - l72; 12ll - 20020529.0

          Price
2021/04     0.0
61       2150.0
92       1719.0

64-KSV-5 3: VOLKSWAGEN - polo - 20100201.0

          Price
2019/07     0.0
92       4199.0
92       4250.0

BN-HR-29 3: MERCEDES-BENZ - 950.05; actros 1831 ll/car - 19/11/2002

          Price
2019/02     0.0
59          0.0
91       5893.0

MF-TF-81 3: EIGENBOUW - bobber - 20021010.0

          Price
2019/05     0.0
31          0.0
30       7890.0

FT-372-P 3: PIAGGIO - c38 - 20080808.0

         Price
2020/01    0.0
31         0.0
29       500.0

80-TFH-1 3: MERCEDES-BENZ - c 200 cdi - 20120104.0

          Price
2019/03  4500.0
61       3266.0
276      2416.0

RT-766-D 3: FORD - focus - 20180124.0

          Price
2020/12     0.0
31          0.0
31       1338.0

JP-934-S 3: CHRYSLER - 300c - 18/05/2016

           Price
2017/09      NaN
181          0.0
31       23600.0

F-083-GN 3: TS - ts-em - 16/05/2012

         Price
2017/12  351.0
62         0.0
28       377.0

KV-15-75 3: TOYOTA - avensis 2.4vvti - nan

          Price
2018/11     0.0
61          0.0
31       1680.0

86-HH-ZG 3: ALFA ROMEO - 147; 1.6 88kw - 17/07/2001

         Price
2019/02    0.0
28       499.0
61       226.0

50-TS-KD 3: PEUGEOT - 307; 1.6 16v 5drs - 08/02/2007

          Price
2017/08     NaN
31          NaN
30       1243.0

4-VSB-55 3: IVECO - c35v - 14/11/2011

          Price
2018/07     0.0
31          0.0
31       2599.0

88-SF-HL 3: OPEL - astra station wagon; h z19dt - 30/11/2005

         Price
2017/08    NaN
31         NaN
30       777.0

92-PR-NV 3: ALFA ROMEO - alfa romeo 147; 5 drs. 1.6 77 - 22/10/2004

         Price
2018/08    0.0
31         0.0
61       759.0

TD-352-R 3: MERCEDES-BENZ - e 63 amg - 20180711.0

           Price
2019/07      0.0
31           0.0
31       19895.0

02-PLZ-1 3: VOLKSWAGEN - polo - 22/02/2011

          Price
2018/04  4321.0
61       6578.0
61       3965.0

75-HD-KR 3: MERCEDES-BENZ - a 140 - 20010906.0

         Price
2019/06    0.0
61         0.0
92       278.0

VZ-BL-90 3: RENAULT - master - 15/05/1998

          Price
2019/01     0.0
31          0.0
28       1100.0

37-XH-PG 3: CITROËN - c4 picasso - 31/05/2007

          Price
2017/10     NaN
31          0.0
30       3123.0

93-HGS-9 3: MERCEDES-BENZ - clk 240; coupe - 20081111.0

          Price
2021/03     0.0
153      2800.0
61       2111.0

D-556-VG 3: AGM - venom - 14/10/2010

         Price
2017/12  432.0
62         0.0
28       230.0

08-KZ-79 3: MERCEDES-BENZ - l508d - nan

          Price
2018/07  9700.0
123         0.0
61       7230.0

29-PH-GK 3: RENAULT - megane; cabriolet 1.6 16v - 25/06/2004

         Price
2018/11    0.0
30         0.0
31       380.0

24-NX-GP 3: FORD - mondeo; 2.0i 107kw - 19/03/2004

         Price
2018/09    0.0
30         0.0
31       280.0

47-18-YR 3: WINDY - 22 hc - nan

         Price
2019/11    0.0
30         0.0
31       855.0

38-PD-FJ 3: SAAB - saab 9-3; 2.0 t - 08/05/2004

          Price
2017/12     0.0
31          0.0
31       2801.0

95-NPB-7 3: VOLKSWAGEN - polo - 20101021.0

          Price
2021/04  2879.0
61       2555.0
61       2159.0

72-VPN-1 3: RENAULT - megane grand tour 1.5 dci 76 k - 15/04/2008

          Price
2018/06     0.0
30       1000.0
62        641.0

44-PJ-PB 3: JAGUAR CARS - jaguar s-type 3.0l v6 executiv - 20040709.0

         Price
2020/01    0.0
152        0.0
61       875.0

36-XVH-5 3: AUDI - audi a4/s4 cabriolet - 20120815.0

          Price
2020/12     0.0
31          0.0
31       2222.0

50-PXS-4 3: PEUGEOT - 807 - 20110514.0

          Price
2019/07     0.0
92          0.0
31       2134.0

15-XK-HX 3: OPEL - corsa - 20070627.0

          Price
2019/06  1650.0
92       2000.0
122      1789.0

31-XPP-7 3: SKODA - superb - 20120630.0

          Price
2019/04  7054.0
61          0.0
30       5566.0

NF-182-V 3: AUDI - q5 - 02/01/2017

           Price
2017/11  25000.0
61           0.0
181      25751.0

64-TT-TP 3: FIAT - fiat croma - 20070131.0

         Price
2020/12    0.0
31         0.0
31       469.0

79-ZB-LV 3: KIA - cee d - 28/01/2008

          Price
2018/07     0.0
31          0.0
31       1820.0

79-HB-HD 3: BMW - 5er reihe; 525d sedan aut. - 10/05/2001

         Price
2017/08    NaN
31         NaN
30       973.0

26-DLH-3 3: PIAGGIO - c38 - 12/11/2005

         Price
2018/12    0.0
31         0.0
31       276.0

ST-BV-10 3: VOLVO - s70; 2.5 aut. - 19980114.0

         Price
2019/09    0.0
61       372.0
92       226.0

23-JH-ZP 3: RENAULT - laguna; grand tour 2.0 16v ide - 19/04/2002

          Price
2017/08  1500.0
61          NaN
31        400.0

93-BKS-5 3: SCANIA - prt - 20180404.0

           Price
2021/07      0.0
62           0.0
30       10679.0

JP-659-P 3: CITROËN - citroen c1 - 20/05/2016

          Price
2018/08     0.0
212      1499.0
61       1320.0

ZJ-DH-14 3: MERCEDES-BENZ - a 140 - 18/05/1999

          Price
2018/09  3050.0
61       4380.0
61        371.0

XZ-XV-44 3: MERCEDES-BENZ - s 320; sedan - 19990323.0

         Price
2019/09    0.0
61         0.0
61       860.0

08-VDK-2 3: MERCEDES-BENZ - 906 ka 35 sprinter 311cdi - 08/01/2007

          Price
2018/04     0.0
30          0.0
61       2419.0

JN-269-Z 3: MERCEDES-BENZ - a 45 amg 4matic - 10/08/2016

           Price
2017/11      0.0
120          0.0
92       31014.0

3-KRD-99 3: PORSCHE - cayenne s - nan

           Price
2017/04  40000.0
61           NaN
61       35222.0

D-599-GF 3: PEUGEOT - vclic - 20130126.0

         Price
2019/08  207.0
61         0.0
31       207.0

NH-803-J 2: OPEL - corsa-c - 20170125.0
VF-399-K 2: PEUGEOT - partner - 20130828.0
KV-86-18 2: BMW F650GS - f650gs - nan
FX-081-Z 2: PEUGEOT - vivacity - 20081024.0
D-415-JP 2: PIAGGIO - vespa - 20090926.0
18-HN-KK 2: PEUGEOT - 206; 2.0 16v 3drs - 18/09/2001
73-LS-ZX 2: CITROËN - c5; break 2.0i 16v - nan
2-KZS-17 2: VOLVO - xc60 - 23/08/2013
76-SZ-JS 2: SUZUKI - swift; 1.3 3d - 20060619.0
13-LVB-3 2: VOLKSWAGEN - polo - 20100630.0
23-TFH-7 2: VOLVO - v50 - 16/01/2012
F-521-PB 2: PIAGGIO - c38 - 31/05/2013
MS-JL-10 2: PIAGGIO - m59 - 05/10/2007
26-JF-ZN 2: FORD - focus; 2.0i 96 kw stage 4 - 21/03/2002
04-FH-NH 2: MERCEDES-BENZ - s 500; sedan lang - 20000323.0
DHV-36-X 2: PIAGGIO - vespa sprint - 20160930.0
44-TJT-1 2: NISSAN - nissan qashqai - 19/05/2012
DRS-82-X 2: LA SOURIS - sourini s - 20180811.0
16-JB-SR 2: CITROËN - c5; break 2.0i 16v automaat - 08/02/2002
51-XX-VX 2: FIAT - fiat bravo - 20071112.0
02-15-YK 2: JOKER - coaster 470 - nan
MT-85-RT 2: BIMOTA - yb9-sr - 15/06/1996
VF-702-V 2: FIAT - fiat doblo - 11/10/2013
F-916-JK 2: MICROCAR - m.go - 20120604.0
RC-72-34 2: FORD - tourneo connect - nan
14-NF-ZD 2: SEAT - ibiza; 1.4 16v 55kw bby - 27/08/2003
KS-075-F 2: JAGUAR - jaguar f-pace - 14/11/2016
07-GK-LG 2: VOLKSWAGEN - polo; 44kw - 20010105.0
NR-498-L 2: HYUNDAI - i20 - nan
DBF-66-N 2: SYM - xs50qt - 20150224.0
30-BPN-5 2: VOLVO - fl6e 19.0 - 20200529.0
51-VRR-3 2: PEUGEOT - bipper 1.4 hdi - 31/05/2008
21-ZJ-SB 2: VOLKSWAGEN - 1e - 20080220.0
D-510-ZB 2: SYM - fw05a - 20130109.0
SL-DG-82 2: TOYOTA - toyota corolla; 1.3 hatch - 07/11/1997
42-VXT-2 2: MERCEDES-BENZ - 315cdi 4x4 - 04/12/2008
65-FLK-5 2: PIAGGIO - c38 - 20060512.0
03-LG-XB 2: VOLKSWAGEN - golf; 77 kw - 02/01/2003
MG-TG-30 2: YAMAHA - rp06; xjr1300 - 19/06/2002
49-DMF-4 2: FORD - transporter - nan
3-KHZ-45 2: VOLKSWAGEN - golf - 20130429.0
91-NF-XX 2: AUDI - audi s6; avant quattro 250 kw - 20030901.0
F-381-XK 2: KYMCO - people s - 20140806.0
30-DZX-8 2: PEUGEOT - speed fight 45 km - 20060318.0
HF-364-N 2: PEUGEOT - 5008 - 20151013.0
FN-261-X 2: AIXAM - k2 - 20080117.0
H-859-TH 2: MERCEDES-BENZ - a-klasse - 20200515.0
31-SX-HP 2: PEUGEOT - 207; 207 1.4 16v 3drs - 31/05/2006
F-274-NL 2: FOSTI - ft50qt-e - 04/04/2013
83-88-YL 2: MAXUM - 1900 sr - nan
11-VKD-3 2: VOLKSWAGEN - transporter - 27/09/2007
MR-PV-95 2: SUZUKI - gsx-r600u3 - 06/06/2007
71-RX-KZ 2: VOLKSWAGEN - golf; plus fsi 85 kw - 20050929.0
BJ-TN-94 2: RENAULT - midlum 180-08/b - 20010102.0
64-NJ-GK 2: VOLKSWAGEN - passat; variant 96 kw - 20031006.0
07-LR-XS 2: PEUGEOT - 406; coupe 2.2 16v - 08/05/2003
22-JGF-2 2: VOLVO - v70 - 20090515.0
GS-XP-80 2: OPEL - cabrio c2.one e2 - 19930715.0
47-GS-KH 2: VOLVO - v40; 2.0 - 28/02/2001
BL-BT-03 2: DAF - ae45ce - 20010411.0
ZS-567-L 2: PEUGEOT - 207 - 20191120.0
85-HJR-8 2: VOLKSWAGEN - polo - 20090109.0
V-077-HK 2: DAIMLER - sprinter - 20170717.0
93-FJ-XZ 2: BMW - 5er reihe; 523i sedan - 20000407.0
47-ML-JN 2: GILERA - m46 - 20191212.0
64-XK-ZJ 2: FIAT - fiat sedici - 29/06/2007
72-MJ-PK 2: PIAGGIO - m25 - 20180507.0
07-TT-RT 2: SAAB - saab 9-3 - 20070131.0
KM-07-68 2: MERCEDES - sprinter 315cdi - nan
XN-XH-67 2: MERCEDES-BENZ - clk 200; coupe - 19990107.0
MX-63-ZN 2: YAMAHA - yp250 - 19970410.0
6-KND-19 2: FORD - focus - 05/06/2013
D-813-XZ 2: JILB - tdr790z - 20110329.0
KF-335-P 2: SEAT - ibiza - 13/12/2017
17-NHB-7 2: AUDI - audi a4 cabriolet; 120 kw - 02/09/2010
71-VBT-4 2: FORD - transit 260s fd van 85 lr4.23 - 01/12/2006
88-GNF-7 2: RENAULT - koleos - 31/07/2008
BN-SR-17 2: DAF - te85xc - 26/05/2003
FJ-354-L 2: PIAGGIO - c38 - 20070609.0
DGF-62-Z 2: AGM - sp 50 - 23/03/2016
56-NGL-9 2: VOLKSWAGEN - polo - 20100908.0
47-72-YL 2: SEA DOO - Bombardier xp - nan
51-VS-NL 2: VOLKSWAGEN - lt 35 66 kw tdi v.d. - nan
17-NZV-2 2: VOLKSWAGEN - polo - 20110124.0
KS-285-P 2: BMW - x5 m50d - 15/11/2016
DDB-36-Z 2: PIAGGIO - vespa sprint - 20150606.0
F-490-FH 2: PEUGEOT - vclic - 20110930.0
9-TKF-97 2: AUDI - a4 avant - 20140306.0
PF-991-H 2: SEAT - leon - 20170608.0
2-VVT-33 2: PEUGEOT - peugeot boxer - 01/06/2012
ZS-143-D 2: MINI - countryman cooper s - 20190726.0
PZ-248-H 2: FORD - focus - 20180713.0
DXS-01-V 2: PIAGGIO - vespa sprint - 20200511.0
73-NK-TD 2: RENAULT - laguna; 2.0 16v aut e4 - 20040107.0
60-JN-LH 2: OPEL - zafira - 20020613.0
44-BT-PB 2: VOLKSWAGEN - transporter bestel tdi 77kw 1. - 20050627.0
2-TXB-45 2: VOLKSWAGEN - golf - 28/05/2014
01-BX-SP 2: VOLKSWAGEN - transporter bestel tdi 128 kw - 24/05/2006
DXJ-34-P 2: PIAGGIO - vespa sprint - 20191210.0
64-ZF-BX 2: VOLVO - xc70 - 07/01/2008
93-XD-ZG 2: Quad - atv200s-7 - 01/08/2007
2-XDB-90 2: PEUGEOT - 308 - 20140630.0
JZ-184-H 2: LAND ROVER - range rover sport - 20160711.0
70-BN-RS 2: VOLKSWAGEN - caddy sdi 51 kw bestel - 20040601.0
27-TBF-3 2: VOLKSWAGEN - eos - 31/08/2012
DBL-64-J 2: PIAGGIO - vespa sprint - 20150410.0
F-028-XX 2: SYM - mio 50 - 09/09/2014
OK-89-HH 2: PACTON - tbd 233 - 20080220.0
MH-40-VX 2: HONDA - cbr 1000 f - 21/02/1989
D-867-KD 2: SYM - hu05w - 11/11/2009
PB-408-B 2: VOLKSWAGEN - golf - 18/05/2017
89-JB-DT 2: AUDI - audi a6; avant 125 kw aut - 20020131.0
9-KTR-87 2: OPEL - corsa - 20130720.0
99-JK-HR 2: MICRO COMPACT CAR SMART - smart - 24/05/2002
5-ZSH-04 2: NISSAN - nissan qashqai - 20150316.0
45-TSG-2 2: RENAULT - megane - 20120330.0
58-XJ-HT 2: NISSAN - nissan murano; 3.5 v6 cvt - 20070626.0
BV-PL-41 2: VOLVO - fm400 6x2r fal9.0 radt-a8 high - 20081124.0
78-FZB-8 2: TOMOS - a3 - 16/08/2006
95-JP-DX 2: MINI - mini; one - 20020625.0
85-JX-NZ 2: CITROËN - xsara picasso; 1.8i 16v - 04/10/2002
99-RRZ-3 2: MERCEDES-BENZ - c 180 cdi - 20110721.0
GG-150-L 2: VOLKSWAGEN - polo - 20150817.0
HK-384-G 2: PORSCHE - cayenne diesel - 13/11/2015
4-XSG-27 2: OPEL - insignia limousine - 20141021.0
ZT-94-XZ 2: MG - midget - 26/07/1991
GG-359-H 2: SUZUKI - lt 750 valenti racing - 20150512.0
KK-25-HX 2: VOLKSWAGEN - golf c 51 kw - 06/12/1983
76-TR-FS 2: BMW - 3er reihe - 20070103.0
20-SL-VD 2: FORD - focus c-max; 1.8l 92kw - 28/02/2006
NZ-XB-14 2: VOLKSWAGEN - passat cl variant tdi 66 kw - 13/05/1996
F-266-TR 2: KYMCO - vitality - 20/12/2017
GG-886-G 2: VOLKSWAGEN - polo - 07/05/2015
92-LRV-4 2: OPEL - astra - 17/06/2010
64-PG-DV 2: CITROËN - xsara picasso; 1.8i 16v - 10/06/2004
MZ-NN-60 2: HONDA - sc51; st1300a - 20110406.0
FX-948-G 2: PIAGGIO - c38 - 23/09/2008
81-PP-XK 2: ROVER - rover 45; 2.0 idti sedan - 11/10/2004
FH-761-R 2: KYMCO - people s - 20070519.0
32-BL-KH 2: VOLKSWAGEN - transporter bestel tdi 77kw 1. - 28/01/2004
57-JRT-9 2: AUDI - audi a4 - 05/08/2009
RV-00-05 2: RIB - bsc 70 - nan
27-GV-LB 2: CHRYSLER - 300m; 300m 2.7i v6 - 04/04/2001
MX-FD-69 2: PIAGGIO - m34 - 30/01/2010
83-HB-GN 2: VOLKSWAGEN - golf; 4motion v6 150 kw - 10/05/2001
82-XP-VR 2: MERCEDES-BENZ - s 600; sedan lang - 16/08/2007
D-442-GZ 2: PIAGGIO - c38 - 17/07/2009
HD-386-N 2: VOLKSWAGEN - polo - 01/10/2015
43-RPG-9 2: AUDI - audi a1 - 20110630.0
D-248-XR 2: KYMCO - people s - 20110311.0
GK-32-GZ 2: FIAT - x 1/9 - 07/11/1980
KJ-798-G 2: VOLKSWAGEN - golf - 20160915.0
VP-777-T 2: VOLKSWAGEN - caddy - 20150730.0
DG-905-L 2: PEUGEOT - zenith - 12/09/2006
KD-34-31 2: JUNGHEINRICH - ecp100 - nan
BJ-HJ-39 2: RENAULT - midlum 150-07/b - 16/06/2000
F-017-NH 2: PEUGEOT - vivacity - 20130309.0
85-WL-GT 2: SILVER STAR - DE250CX - 11/08/2014
37-MB-ZX 2: KAWASAKI - z750 - 20130305.0
KV-86-47 2: KTM - 690 enduro r - nan
13-RP-XS 2: PEUGEOT - 307; 1.4 16v 5drs - 20050721.0
67-MH-HK 2: HONDA - vfr1200xd - 16/02/2017
8-XBZ-67 2: SEAT - toledo - 20140628.0
F-380-TL 2: KYMCO - agility50 - 20140401.0
NN-899-T 2: MERCEDES-BENZ - a 45 amg 4matic - 20170313.0
GB-542-N 2: NISSAN - nissan qashqai - 13/04/2015
2-XRR-63 2: FORD - b-max - 31/10/2014
9-SKP-92 2: MITSUBISHI - mitsubishi space star - 20131029.0
DHH-27-G 2: BTC - riva - 26/07/2016
33-09-MM 2: VOLKSWAGEN - buggy - 27/01/1970
74-LN-KG 2: AUDI - audi a3; 75 kw - 20/03/2003
67-HB-ZT 2: OPEL - vectra-b; x1.6xel - 25/05/2001
23-PG-HX 2: AUDI - audi a4; avant v6 tdi 120 kw a - 20040616.0
MR-NP-39 2: HONDA - rc44; vt750c2 shadow ace - 10/03/2007
13-RP-JP 2: RENAULT - megane scenic; grand 2.0 16v 9 - 30/06/2005
DGR-42-P 2: PIAGGIO - vespa sprint - 01/06/2016
PJ-389-H 2: BMW - 3er reihe - 20170629.0
53-ZVP-8 2: VOLKSWAGEN - golf - 20130225.0
02-ZP-JF 2: AUDI - audi a5 - 16/04/2008
00-93-YS 2: SEADOO - rx - nan
FDJ-64-V 2: PEUGEOT - kisbee - 20201009.0
78-RF-XX 2: HONDA - civic 3 dr; 1.6i sport - 11/03/2005
D-404-GZ 2: PIAGGIO - c38 - 20110421.0
D-731-RN 2: PIAGGIO - c44 - 20100914.0
43-HG-LJ 2: VOLVO - s60; 2.4 140 pk - 28/06/2001
47-RF-GV 2: AUDI - audi a3; tdi 103 kw - 20050304.0
33-TVV-1 2: LEXUS - lexus ct200h - 27/04/2012
86-PB-NT 2: VOLKSWAGEN - touran; 85 kw aut - 23/04/2004
97-MJ-NL 2: PIAGGIO - m34 - 20180420.0
78-GR-JP 2: MAZDA - mazda premacy; 1.8 hp - 15/02/2001
DPX-94-Z 2: KYMCO - agility 50 - 20181025.0
FH-341-F 2: KYMCO - agility50 - 20070412.0
85-VV-TV 2: MITSUBISHI - canter glb1 - 20010510.0
PV-513-V 2: FORD - galaxy - 20171024.0
70-NG-DB 2: FORD - fiesta 1.25i 51kw st3 - 29/08/2003
9-TVR-10 2: BMW - 5er reihe - 21/05/2014
02-89-YR 2: SEA RAY - signature 200 - nan
J-295-XD 2: BMW - 335ia - 20201028.0
39-BG-ZT 2: FORD - transit connect 220l hr van 1. - 20030203.0
93-RBP-7 2: CITROËN - c1 - 29/04/2011
26-BV-XT 2: SSANGYONG - rexton rx290 hr - 12/01/2006
21-FN-SG 2: VOLVO - v70; 2.4t aut. - 02/05/2000
F-480-ZR 2: KYMCO - people s - 20150214.0
48-PV-FD 2: KIA - sorento; 2.5 crdi a/t - 03/01/2005
93-GGV-3 2: PEUGEOT - 407; coupe 3.0 v6 24v - 11/12/2009
MT-82-YS 2: SUZUKI - vs 1400 - 19950614.0
PP-464-B 2: PIAGGIO - m64 - 20171230.0
JR-ZP-63 2: PEUGEOT - 306 cabriolet 1.8 aut. e2 - 19941129.0
MV-74-JR 2: HONDA - vt1100 c2 - 19950830.0
59-RZ-GH 2: AUDI - audi a6; avant quattro 188 kw - 20051013.0
15-LJX-4 2: HYUNDAI - i 10 - 10/06/2010
VN-603-Z 2: OPEL - combo van - 20150507.0
TH-894-L 2: MITSUBISHI - mitsubishi colt - 20200210.0
3-TLB-28 2: VOLKSWAGEN - golf - 20140313.0
KT-663-X 2: BMW - 550i - 20161128.0
XN-FH-40 2: VOLVO - s80; 2.9 aut. - 02/01/1999
46-DV-DK 2: FORD - focus; 1.8 td di-wagon - 07/01/2000
DHZ-63-F 2: SENZO - senzo riva s - 20160930.0
80-MH-KK 2: SUZUKI - dl650 - 20170825.0
F-596-VV 2: PIAGGIO - c25 - 18/07/2014
WZ-67-YK 2: HOBBY - 30 - 20010316.0
GH-825-P 2: VOLKSWAGEN - golf - 22/06/2016
KJ-467-L 2: VOLKSWAGEN - golf - 06/06/2017
10-VJX-6 2: VOLKSWAGEN - crafter - 20070919.0
FS-489-G 2: PIAGGIO - c38 - 20080517.0
DRB-97-F 2: PIAGGIO - vespa sprint - 20180721.0
8-KNH-71 2: MERCEDES-BENZ - cla 220 cdi - 20130606.0
GX-666-D 2: MERCEDES-BENZ - clk 320 - 31/08/2015
ZK-722-H 2: VOLKSWAGEN - polo - nan
2-TTP-11 2: MERCEDES-BENZ - viano cdi 3.0 - 20140509.0
28-KP-45 2: PEUGEOT - boxer - nan
13-NJ-DS 2: SEAT - ibiza; 1.4 16v 55kw bby - 03/10/2003
16XGPG 2: AUDI - 4d audi a8 228 kw quatt - 20070510.0
22-BP-VJ 2: MERCEDES-BENZ - 63914 - 06/09/2004
79-PV-RR 2: SEAT - altea; 1.9 tdi/bjb 77 kw - 13/01/2005
F-919-VV 2: PIAGGIO - vespa sprint - 20150220.0
71-TG-HT 2: CITROËN - c4; coupe 1.4i 16v - 20060831.0
57-NVK-2 2: FIAT - fiat punto - 02/12/2010
F-117-RZ 2: PIAGGIO - c38 - 20131012.0
XS-584-P 2: AUDI - audi s5 - 20190316.0
D-923-KK 2: PEUGEOT - speedfight - 11/01/2011
D-831-GL 2: PIAGGIO - c38 - 08/07/2009
25-SG-FX 2: KIA - kia carens; 2.0i cvvt a/t - 26/01/2006
HK-989-G 2: VOLKSWAGEN - polo - 20151113.0
VP-776-T 2: VOLKSWAGEN - caddy - 20150730.0
FT-917-K 2: PIAGGIO - c25 - 20080630.0
99-HXT-3 2: HONDA - civic 5dr - 23/03/2009
26-RZ-SG 2: SEAT - leon; 1.6 75 kw bse - 20051026.0
D-300-XT 2: KYMCO - like - 20110326.0
2-VXG-53 2: VOLKSWAGEN - caddy - 20120727.0
64-HBP-4 2: SEAT - ibiza - 10/10/2008
F-106-PL 2: PIAGGIO - onbekend - 12/06/2013
D-761-KV 2: PIAGGIO - c38 - 20091205.0
DJL-98-T 2: KYMCO - new agility city 50, agility 1 - 20170302.0
08-KZ-10 2: MERCEDES-BENZ - l508d - nan
JG-426-N 2: SUZUKI - celerio - 20160314.0
1-TXH-97 2: CITROËN - c4 picasso - 20140530.0
DJT-70-Z 2: IVA - iva lux50 - 20170310.0
PS-148-P 2: LAND ROVER - freelander 2 - 20170904.0
F-204-LF 2: PIAGGIO - c52 - 20121001.0
8-ZST-53 2: AUDI - a3 limousine - 20150323.0
41-RN-RL 2: VOLVO - v50; 1.6d - 20050615.0
F-267-RR 2: GERROE - gr50qt-45 - 20130904.0
F-147-SN 2: LA SOURIS - grande retro - 20131206.0
20-TN-TD 2: CHEVROLET - nubira - 30/11/2006
04-HXN-7 2: SEAT - leon - 21/03/2009
35-ZVN-7 2: VOLKSWAGEN - touareg - 19/02/2013
F-150-LJ 2: PIAGGIO - C38 - 20130419.0
8-VJK-22 2: OPEL - vivaro-2 2.0cdti/84kw-e4 2.9t - 07/08/2010
KG-67-FT 2: DATSUN - 280 zx 2+2 - 04/10/1983
F-342-GG 2: PEUGEOT - tweet - 20120504.0
DJP-76-R 2: TURBHO - cz-50 - 05/10/2017
F-143-NS 2: KYMCO - agility 50 - 20130530.0
78-TVV-7 2: VOLKSWAGEN - polo - 20/04/2012
DDP-62-H 2: HONDA - nps50 - 22/07/2015
TK-798-B 2: MERCEDES-AMG - amg c 63 s - 20180818.0
MX-PX-32 2: PIAGGIO - m31; vespa grandturismo 200 l - 06/05/2010
ML-86-RZ 2: SUZUKI - vs 1400 - 16/07/1991
90-BDG-8 2: VOLVO - fm - 20131114.0
BJ-TN-93 2: RENAULT - midlum 180-08/b - 02/01/2001
WZ-25-29 2: PEKAWEE - at 10g sp - 07/10/1976
82-DV-GK 2: JAGUAR CARS - jaguar s-type 3.0l v6 - 11/01/2000
DT-885-B 2: YAMAHA - sa14 - 27/10/2006
D-287-PD 2: PIAGGIO - c25 - 20100618.0
XB-ZP-67 2: VOLVO - s40; 1.8 - 30/09/1998
DZJ-32-X 2: PIAGGIO - zip - 20200611.0
86-NV-ZH 2: MERCEDES-BENZ - e 270 cdi; combi - 12/03/2004
58-RD-FX 2: HYUNDAI - atos; 1.0 - 02/02/2005
DL-JP-61 2: AUTO UNION - audi coupe 128 kw u9 - 02/01/1992
KM-96-90 2: TRACON TRAILERS - t0.s.1220 - nan
25-LK-NG 2: AUDI - audi a3; tdi 74 kw - 20030205.0
TP-660-J 2: VOLKSWAGEN - golf - 20190222.0
LM-90-70 2: PEUGEOT - partner - nan
40-SP-SN 2: VOLKSWAGEN - golf - 07/04/2006
TN-877-X 2: VOLKSWAGEN - golf - 20180913.0
F-562-RK 2: PEUGEOT - speedfight - 20130815.0
KD-34-30 2: JUNGHEINRICH - ecp100 - nan
58-LX-LH 2: OPEL - corsa-b; x1.4sz - 12/06/2003
02-HB-SZ 2: MAZDA - mazda xedos 9; 2.5 v6 aut. - 18/05/2001
41-RH-TD 2: VOLVO - xc70; d5 awd geartronic - 20050408.0
14-TTH-1 2: VOLKSWAGEN - polo - 20120406.0
71-BS-DF 2: VOLKSWAGEN - caddy sdi 51 kw bestel - 06/01/2005
22-HD-SX 2: HONDA - civic 5 dr; 1.4i at - 20/06/2001
75-VZ-NF 2: OPEL - vivaro 1.9di 2.7t l1h1 - 20011102.0
74-ZR-FD 2: SSANGYONG - ssangyong rexton; xdi 270 aut. - 30/06/2005
F-722-XJ 2: ZNEN - zn50qt-30a - 02/08/2014
48-HV-XD 2: ROVER - rover 75; 1.8 litre - 27/02/2002
SX-PX-40 2: MERCEDES-BENZ - slk 230 kompressor; roadster - 19980213.0
F-718-KV 2: PIAGGIO - c52 - 20121027.0
48-ST-KT 2: TOYOTA - toyota yaris - 20060427.0
60-NJ-SB 2: VOLVO - v70; d5 aut. - 16/10/2003
14-XB-NG 2: MERCEDES-BENZ - b 180 cdi - 30/03/2007
7-SKR-10 2: MINI - mini-n - 21/10/2013
40-RP-GR 2: VOLKSWAGEN - golf; tdi 66 kw - 24/06/2005
D-518-DD 2: YAMAHA - aerox - 05/11/2009
MR-JF-75 2: HONDA - rc35 (vfr750f) - 06/01/2007
9-TNJ-92 2: VOLKSWAGEN - golf; 55 kw - 27/03/2014
DFB-99-Z 2: PIAGGIO - c25 - 12/09/2015
DDV-39-G 2: LINGBEN - lb50qt-16 - 20/08/2015
4-ZHJ-86 2: VOLVO - v60 - 20150130.0
8-VHK-30 2: RENAULT - trafic - 20100510.0
31-TG-KD 2: VOLKSWAGEN - fox; 40 kw - 07/09/2006
08-MD-DG 2: PEUGEOT - vivacity - 20130312.0
67-LT-KF 2: BMW - 3er reihe; 316ti compact - 20030515.0
22-RD-BN 2: PEUGEOT - 307; cc 2.0 16v - 20050218.0
ZP-467-F 2: MERCEDES-BENZ - c 350 cdi - 20190628.0
39-NL-GT 2: RENAULT - laguna; 2.0 16v aut e4 - 20031114.0
D-965-LL 2: PIAGGIO - c25 - 05/02/2010
45-NJ-TN 2: MINI - mini cooper; cooper - 20031022.0
KS-712-K 2: VOLKSWAGEN - passat - 17/11/2016
F-936-NG 2: PIAGGIO - c25 - 28/06/2013
84-XZF-7 2: PEUGEOT - 508 - 20/09/2012
4-VKL-16 2: SUZUKI - grand vitara 1.9 d van - 20101112.0
F-764-ZP 2: AGM - vx 50 - 22/11/2014
66-TF-GP 2: SEAT - ibiza - 27/07/2006
52-LRJ-2 2: VOLKSWAGEN - polo - 20100615.0
RS-479-P 2: FIAT - fiat 500 - 20180117.0
PS-129-L 2: LAND ROVER - range rover evoque - 20170901.0
86-XT-ZK 2: VOLKSWAGEN - passat - 20071005.0
OJ-06-RK 2: JUMBO - d0 270 se - 20070205.0
MG-93-JH 2: DUCATI - 750 - 19730227.0
RK-851-G 2: VOLVO - v70 - 20171208.0
94-NP-JJ 2: VOLKSWAGEN - golf; 55 kw - 20040205.0
GR-593-V 2: AUDI - audi a3 - 30/07/2015
89-TB-FJ 2: BMW - 3er reihe - 20060630.0
F-613-GS 2: PEUGEOT - kisbee - 20120827.0
F-097-VD 2: PIAGGIO - vespa primavera - 20/08/2015
DNZ-54-X 2: I-GOO - i-goo - 20180412.0
41-BV-SR 2: MERCEDES-BENZ - 639 viano cdi 2.2 - 05/01/2006
09-PXS-8 2: FIAT - fiat punto - 20110411.0
D-745-XK 2: SYM - hu05w - 20110223.0
80-MG-BL 2: GILERA - runner 180 - 29/07/2015
4-KNT-18 2: ASTON-MARTIN - v8 vantage roadster - 20130606.0
90-ML-NF 2: YAMAHA - xp560d - 20200304.0
D-293-HZ 2: SYM - ay05w - 07/05/2010
23-FX-VT 2: MICRO COMPACT CAR SMART - smart - 11/08/2000
87-NH-BF 2: BMW - 5er reihe; 520i sedan aut. - 20030919.0
3-SFP-90 2: VOLKSWAGEN - polo - 20130920.0
GD-619-D 2: VOLKSWAGEN - sharan - 13/04/2015
71-RV-ZK 2: FIAT - fiat panda; 1.2 - 20050929.0
JL-318-L 2: BMW - 730d xdrive - 26/04/2016
93-RS-JK 2: VOLKSWAGEN - polo; 55 kw - 02/08/2005
95-44-YS 2: STINGRAY - 205CX - nan
01-XJ-VP 2: AUDI - audi a4 - 20070615.0
84-BX-JK 2: VOLKSWAGEN - transporter bestel tdi 96 kw 4 - 20060307.0
GN-610-V 2: PIAGGIO - m64 - 10/07/2015
76-BG-PF 2: CITROËN - berlingo 1.9d 600 - 02/01/2003
39-21-YE 2: SEA DOO - Bombardier xp - nan
0879YE 2: BOMBARDIER - sea doo - nan
22-YD-72 2: CHEVROLET - c10 pickup - 20160615.0
XT-751-T 2: VOLKSWAGEN - polo - 20190319.0
40-NX-PH 2: VOLKSWAGEN - golf; fsi 66 kw - 20040325.0
64-XHG-4 2: PEUGEOT - 208 - 20120608.0
71-HZ-XR 2: MERCEDES-BENZ - e 320; combi - 20020205.0
20-ZK-KP 2: AUDI - audi a6 - 06/03/2008
75-PPJ-3 2: PEUGEOT - peugeot 107 - 20110304.0
79-XK-NX 2: VOLKSWAGEN - fox - 20070711.0
20-VLP-7 2: PEUGEOT - expert 227 l1h1 1.6hdi 16v-90 - 20080107.0
64-38-YB 2: BAYLINER - 2255 - nan
D-450-DR 2: ZHONGNENG - zn50qt-f.25 - 20090513.0
53-NJH-8 2: VOLKSWAGEN - polo - 20100915.0
75-XTV-7 2: FIAT - fiat 500 - 06/08/2012
58-PS-LV 2: ROVER - rover 75; 2.0 litre cdt - 20041113.0
DBP-73-P 2: PIAGGIO - vespa sprint - 17/04/2015
17-52-YS 2: BAYLINER - 2455 Ciera - nan
67-XJ-BG 2: BMW - 3er reihe; 318i sedan - 20070601.0
68-77-YK 2: BOMBARDIER - seadoo 3d - nan
MJ-JS-43 2: HONDA - sc45; vtr1000sp-2 - 25/07/2003
93-ZD-LZ 2: CITROËN - c4 picasso - 03/01/2008
TL-406-L 2: AUDI - a3 sportback - 20180828.0
TZ-BS-07 2: MERCEDES-BENZ - c 180; sedan - 04/09/1998
4-VHX-86 2: OPEL - combo-c-van z13dtj-dpf/2000-h - 18/06/2010
5-KGZ-66 2: BMW - 330d - 20130419.0
F-225-KN 2: PIAGGIO - fly - 20120827.0
DJ-623-N 2: PUCH - radical 40 km/h - 20060926.0
DNP-22-L 2: PIAGGIO - vespa sprint - 20180828.0
05-KVB-2 2: VOLKSWAGEN - golf - 01/03/2010
2-VNN-66 2: FORD - transit 280m van mr 115dpf 4.3 - 21/04/2011
DKN-49-X 2: KYMCO - dink - 20170519.0
9-KFL-99 2: VOLKSWAGEN - golf - 20130412.0
9-TFN-42 2: AUDI - a7 sportback - 20141013.0
DRG-55-V 2: TURBHO - rl-50 - 20190417.0
G-975-HN 2: SEAT - leon - 20190925.0
81-GD-KJ 2: PEUGEOT - 607; 3.0 v6 24v - 20000922.0
07-RK-SV 2: LAND ROVER - freelander; 1.8 i 3 deurs - 17/05/2005
MB-NZ-83 2: SUZUKI - tl 1000r - 20000503.0
D-185-XH 2: SYM - mio 50 - 20110312.0
88-XD-XH 2: PEUGEOT - 307 - 20070427.0
70-NR-NX 2: VOLKSWAGEN - golf; 77 kw - 21/01/2004
DJT-49-J 2: PIAGGIO - vespa sprint - 20170216.0
47-PDD-4 2: VOLKSWAGEN - passat cc - 20110225.0
3-XBJ-08 2: MERCEDES-BENZ - a 200 cdi - 24/06/2014
65-FV-DL 2: CHRYSLER - voyager; 2.4i 5-speed - 11/07/2000
8-KRP-10 2: MERCEDES-BENZ - a 180 - 20130628.0
63-PG-NP 2: BMW - m3; coupe - 20040702.0
53-MB-RD 2: PIAGGIO - zip 125 - 20120608.0
01-YB-44 2: VOLKSWAGEN - 152131 - 19980812.0
13-SVV-1 2: VOLVO - v70 - 20111212.0
2926YT 2: SEADOO - onbekend - nan
50-JZF-7 2: MINI - mini one - 05/10/2009
PB-028-G 2: FORD - fiesta - 19/05/2017
1-ZFL-95 2: VOLKSWAGEN - golf - 20150105.0
13-NS-FN 2: MERCEDES-BENZ - e 320 cdi; sedan - 28/01/2004
17-GD-SX 2: MITSUBISHI - galant; 2.5 v6 a/t - 19/10/2000
99-NV-ZX 2: MAZDA - mazda 6; sportbreak 2.0 - 20040316.0
67-BL-HP 2: SSANGYONG - korando td 2.9 hr aut. - 20040130.0
09-XJ-ZT 2: RENAULT - espace; 3.0 dci 130kw automaat - 20070718.0
1-XZN-02 2: VOLKSWAGEN - golf - 20141124.0
KF-366-V 2: MERCEDES-BENZ - clk 280 - 20160818.0
07-68-YL 2: SPEEDBOOT - 38 scarab - nan
VJ-894-G 2: FORD - transit custom - 20140602.0